<div class="page-topbar">
</div>
<div class="page-logo"></div>
<div class="page-separator"></div>

<div class="page-content">
    <h2><%= STR.pageMakingofTitle %></h2>
    
    <% if(lang == "es") {%>
    <p>Bien pueda siga, por aquí encontrarás la parte de atrás de la casa Pregoneros! (más contenido en unos días ;-) )</p>
    
    <iframe src="https://www.flickr.com/photos/132268176@N07/17179489845/in/set-72157651601086809/player/" width="100%" height="400px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <% } %>
    <% if(lang == "en") {%>
    <p>Welcome, here you will find the back door of Pregoneros’ home! (more content to come ;-) )</p>
    
    <iframe src="https://www.flickr.com/photos/132268176@N07/17179489845/in/set-72157651601086809/player/" width="100%" height="400px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <% } %>
    <% if(lang == "fr") {%>
    <p>Entrez, bienvenue à l'intérieur de la maison Pregoneros ! (plus de contenu à venir ;-) )</p>
    
    <iframe src="https://www.flickr.com/photos/132268176@N07/17179489845/in/set-72157651601086809/player/" width="100%" height="400px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>
    <% } %>
</div>

<div class="page-btnclose">
</div>

<div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>