<div class="page-topbar">
</div>
<div class="page-logo"></div>
<div class="page-separator"></div>

<div class="page-content">
<h2><%= STR.pageMusicTitle %></h2>

    <% if(lang == "es") {%>
<p>La dimensión expresiva de la música es incontestable, así como su riqueza y capacidad  comunicativa. En este proyecto que se inspira del paisaje sonoro de la ciudad, la música no solo es concepto narrativo, sino también goce, acompañamiento, y detonadora de sentidos e identidad.</p>

<p>Los músicos que nos acompañaron a contar la ciudad que canta son:</p>

<h3>Música Original</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Phonoclórica</h3>

<table>
    <tr>
        <td>
            <p>Es una banda bogotana que integra en su música, la sonoridad selvática de los tambores del pacífico y el caribe antillano, sumados a la potencia del funk.</p>
            <p>Sus enérgicas improvisaciones de guitarra y virtuosos acordes de teclado, se entretejen con el potente amarre de  bajo y batería. El bombo y las congas repican y retumban, mientras que la marimba de chonta, arrulla con su mágico vaivén de olas. Las voces, corean al son del currulao-soul, del bunde-reggae o el porro-funk; letras de calle y pueblo que son experiencias de vida, sentimientos de poesía en la selva de concreto.</p>
            <p>Es así como Phonoclórica se posiciona en la ciudad de Bogotá como uno de los grupos más importantes del momento. A través de sus composiciones inéditas, la banda logra consolidar durante 7 años de trabajo en grupo, un sonido único y original que se hace tangible “en vivo”; cuando este carácter inconfundible se adentra en el público; mas allá de ser un fenómeno comprensible en escena, representa la sensación en sí misma, la más frenética elaboración musical y la fuerza impetuosa del baile.</p>
            <p><a href="https://www.facebook.com/la.phonoclorica">Página Facebook</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/MrxsfI1UJ4k" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122008660&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Puerto Candelaria</h3>

<table>
    <tr>
        <td class="music-group-description">
            <p>Puerto Candelaria es la propuesta musical MÁS ATREVIDA, CONTROVERSIAL E INNOVADORA de los últimos tiempos en el país. Una explosión sonora que ha traspasado las fronteras, ha burlado los esquemas y ha trazado un camino para la escena musical independiente en Latinoamérica. Un lugar imaginario y a la vez real donde no sólo existe la música: el teatro, la danza y el humor son los efectivos recursos de los que se valen sus integrantes para exponer ácida y burlonamente el absurdo que es Colombia.</p>
            <p><a href="http://puertocandelaria.com/">http://puertocandelaria.com/</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/NMAoYhJykK4" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156894550&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Rancho aparte</h3>
<table>
    <tr>
        <td class="music-group-description">
            <p>Desde Quibdó - Chocó Rancho Aparte busca, sin concesiones, la raíz de una música que nace en la alegría de la libertad recobrada y la tristeza de haberla perdido un día.</p>
            <p>Sones de abozaos, polkas, danzas, Rebulú, contradanzas, júgas, cantos y ritmos que evocan a la madre África son el pilar de esta agrupación. Cuando Rancho Aparte suena, suena el clarinete, el bombardino de cobre, la tambora, el redoblante y una voz raizal y sin escuela. Pero esta no es una agrupación que solo rescata el alma de nuestra gente. Va mas allá; indaga en esas músicas internas que viven agazapadas como fantasmas en los pliegues de la sensación. El grupo ha logrado que los jóvenes lo oigan y lo entiendan y que las viejas generaciones, lo gocen y lo bailen.</p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/2Gyl_F5OJl0" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157740073&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Jose Gallardo</h3>
<table>
    <tr>
        <td class="music-group-description">
            <p>Compositor musical de la Universidad EAFIT-Medellín. Magíster en Estética de la Universidad Nacional de Colombia. Ha compuesto para diversos ensambles, dedicándose especialmente a la experimentación de música generada por computadores e instrumentos tradicionales.</p>
            <p><a href="http://josegallardoa.co/">http://josegallardoa.co/</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCAzAbWRvH4" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52440439&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>
    <% } %>
    <% if(lang == "en") {%>

<p>The expressive dimension of music is undeniable, and so is its richness and communication capacity. In this project, which is inspired in the city’s soundscape, the music is not only a narrative concept, but also enjoyment, accompaniment, and a detonator of meanings and identity.</p>

<p>The musicians who accompanied us to tell the city that sings are:</p>

<h3>Original song</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Phonoclórica</h3>

<table>
    <tr>
        <td>
            <p>Phonoclorica is a new interpretation of the Colombian traditional rythms, blending the knowledge and legacy that lies within this music, with an urban and modern vision, which integrates the forest tone of the drums and its oral traditions with the rock's stridency, the funk’s seduction, the rejoicing of the “raspa”, the force of the reggae and the powerful Cuban timba.</p>
            <p>Phonoclorica proposes to represent on stage a convergence point for a diverse audience: women, men, old men, young people, children, rich and poor; also, by means of lyrics that identify with people´s daily life like love, the lack of affection, luck, the drive of living every day and the pain of the violence in our nation. Our message helps us to remind the miracle of being alive in this earth, and all its gifts.</p>
            <p>Sharp guitar riffs and acid brasses interweave with the rhythmic mesh of the bass and drums, while the marimba de chonta lulls us with its magical motion of waves. All seconded by the bustle of the cununos, the force of the kick drum and voices chanting to the sound of the currulao-rock, bünde-reggae, porro-timba and many other mixtures which invite to dance and celebrate life. This is how Phonoclorica is positioned in Bogotá as one of the most important fusion groups of these days. With unpublished compositions, the band has managed to consolidate an own, unique and innovative sound during their 3 years of work.</p>
            <p>This way, Phonoclorica’s feel emerges "live", when its distinctive character goes into the public representing the impetuous force of the dance and the more frenetic musical development.</p>
            
            <p><a href="https://www.facebook.com/la.phonoclorica">Facebook Page</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/MrxsfI1UJ4k" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122008660&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Puerto Candelaria</h3>

<table>
    <tr>
        <td class="music-group-description">
            <p>Puerto Candelaria is the most daring, controversial and innovative musical approach of the country’s recent history. A sound explosion that has crossed borders, mocked the schemes, and charted a course for the independent music scene in Latin America. A both imaginary and real place where not only music exists: theater, dance and humor are the effective resources that its members apply to mockingly expose the absurdity of Colombia.</p>
            <p><a href="http://puertocandelaria.com/">http://puertocandelaria.com/</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/NMAoYhJykK4" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156894550&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Rancho aparte</h3>
<table>
    <tr>
        <td class="music-group-description">
            <p>From Quibdó – Choco, Rancho Aparte searches, uncompromisingly, the roots of a music born in the joy of newfound freedom and the sadness of having lost that freedom one day.</p>
            <p>Sones de abozaos, polkas, dances, Rebulú, quadrilles, júgas, songs and rhythms that evoke the mother Africa, are the backbone of this group. When Rancho Aparte plays, the clarinet plays, and also the euphonium copper, the tambora, the drummer, and a raizal and unschooled voice. But this group not only rescues the soul of our people. It goes beyond; they explore the internal music living like a ghost, lurking in the folds of sensation. The group has brought young people to hear it and understand it, and old generations to enjoy it and dance along with it.</p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/2Gyl_F5OJl0" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157740073&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Jose Gallardo</h3>
<table>
    <tr>
        <td class="music-group-description">
            <p>He is a Musical Composer from the EAFIT University in Medellín. Master of Aesthetics from the National University of Colombia, he has composed for various ensembles, dedicating himself especially to the experimentation with computer generated music, and that made with traditional instruments.</p>
            <p><a href="http://josegallardoa.co/">http://josegallardoa.co/</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCAzAbWRvH4" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52440439&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

    <% } %>
    <% if(lang == "fr") {%>

<p>La musique, avec toutes ses possibilités expressives, sa richesse et sa capacité communicative prend toute sa place dans ce projet qui s’inspire du paysage sonore de la ville. La musique n’est pas seulement un concept narratif mais aussi, un plaisir, un accompagnement et une force qui déclenchent sentiments et identité.</p>

<p>Les musiciens qui nous ont accompagnés à raconter la ville à travers ses chants urbains sont:</p>

<h3>Musique Original</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Phonoclórica</h3>

<table>
    <tr>
        <td>
            <p>C’est un groupe de Bogotá crée en 2008.</p>
            <p>Ce groupe combine les percussions de la côte pacifique colombienne et des caraïbes, à la puissance du funk.</p>
            <p>Phonoclorica est réputé pour la virtuosité de ses improvisations à la guitare et au piano, harmonisées avec la force de la guitare basse et de la batterie. Tambours, congas, et marimba de chonta (xylophone afro-colombien) rappellent la musicalité festive et chaleureuse de la mer créant des genres inédits comme currulao-soul, bunde- reggae ou porro-funk.</p>
            <p><a href="https://www.facebook.com/la.phonoclorica">Page Facebook</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/MrxsfI1UJ4k" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/122008660&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Puerto Candelaria</h3>

<table>
    <tr>
        <td class="music-group-description">
            <p>Puerto Candelaria est un des groupes qui a fait bouger les lignes de la musique Colombienne ces dernières années. C’est une explosion sonore qui a franchi les frontières, s’est moqué des schémas établis et a tracé un chemin pour la scène indépendante latino-américaine.  Le groupe développe un univers à la fois imaginaire et réel où se côtoient la musique, le théâtre, la danse et l’humour colombien.</p>
            <p><a href="http://puertocandelaria.com/">http://puertocandelaria.com/</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/NMAoYhJykK4" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/156894550&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Rancho aparte</h3>
<table>
    <tr>
        <td class="music-group-description">
            <p>Du cœur de la côte pacifique, dans le département du Chocó, le groupe Rancho Aparte, recherche sans concessions, les racines d’une musique qui naît de la joie et de la liberté retrouvée, et de la tristesse de l’avoir un jour perdue.</p>
            <p>Des rythmes autochtones évocateurs de la mère Afrique forment la base de ce groupe. Des instruments à vents, des percussions et une voix métisse authentique sauve l’âme du peuple Afro-colombien. Le groupe réunit les générations qui écoutent, comprennent  et dansent sa musique.</p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/2Gyl_F5OJl0" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/157740073&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>

<h3>Jose Gallardo</h3>
<table>
    <tr>
        <td class="music-group-description">
            <p>José Gallardo est un musicien chercheur colombien. Il a fait ses études, à l’Université Nationale de Colombie et à l’Université Nationale, pour un master en Esthétique. Monsieur Gallardo est un compositeur qui travaille spécifiquement dans l’expérimentation de la musique générée par ordinateur et les instruments traditionnels..</p>
            <p><a href="http://josegallardoa.co/">http://josegallardoa.co/</a></p>
        </td>
        <td class="music-youtube"><iframe width="560" height="315" src="https://www.youtube.com/embed/dCAzAbWRvH4" frameborder="0" allowfullscreen></iframe></td>
    </tr>
    <tr>
        <td colspan="2">
            <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/52440439&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>
        </td>
    </tr>
</table>


    <% } %>


</div>



<div class="page-btnclose">
</div>

<div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>