<div class="page-topbar">
</div>
<div class="page-logo"></div>
<div class="page-separator"></div>

<div class="page-content">
<h2><%= STR.pagePressKitTitle %></h2>

    <% if(lang == "es") {%>

<h3>Logos</h3>

<p class="align-center"><img src="images/presskit/logo-squarebrush.png" width="200px"></p>

<h3>URL</h3>

<p><a href="http://www.pregonerosdemedellin.com" target="_blank">http://www.pregonerosdemedellin.com</a></p>

<h3>Trailer</h3>

<p class="align-center"><iframe src="https://player.vimeo.com/video/123789400?color=ffd44a&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

<h3>Storyline</h3>

<p>Recorriendo virtualmente Medellín conocerás vendedores ambulantes, que pregonando, le apuestan a la vida a pesar de las dificultades  de su oficio.</p>

<h3>Descripción</h3>

<p>La webdocumental interactiva de los que venden cantando en Medellín, Colombia. Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído.</p>

<p>Una iniciativa documental soñada por Esaú, Juliana y Angela Carabalí; que se tranformó en web-documental interactiva gracias al talento del realizador web francés Thibault Durand, codirector del proyecto junto con Angela Carabalí, fotógrafa y documentalista colombiana.</p>

<p>Pregoneros de Medellín es una realidad gracias al apoyo del Ministerio de Cultura y del Ministerio de Tecnologias de  la Información y las Comunicaciones.(TIC), a través de la convocatoria Crea digital.</p>

<h3>Sinopsis (corta)</h3>

<p>El paisaje sonoro de Medellín es  contrastante. En esta ciudad  hay voces de todo tipo, y entre ellas, los cantos urbanos de los vendedores ambulantes. Ellos entendieron que al cliente, igual que al amor, se le seduce por el oído, y a eso le apuestan para vender sus productos. Recorrer virtualmente la ciudad para conocer las realidades y problemáticas de estos trabajadores itinerantes es la posibilidad que ofrece Pregoneros de Medellín. Una web documental interactiva donde el espectador/interactor,  dialoga con las realidades de trabajadores informales que raramente son protagonistas.</p>

<p>En el recorrido, el usuario  eligie  el ritmo y la ruta,  creando  una experiencia documental única. Puede retroceder o girar en puntos específicos y  desde su silla, ir al encuentro con pregoneros que le contarán y cantarán un poco de su mundo. Hay entrevistas, videos, fotografías y registros sonoros a los cuales  el interactor accede en el orden y  el tiempo que desee.</p>

<h3>Sinopsis (larga)</h3>

<p>El paisaje sonoro de Medellín es diverso  y contrastante. En esta ciudad  de más de tres millones de habitantes hay voces de todo tipo, y entre ellas sobresalen cantos urbanos, que vienen directamente de algunos vendedores ambulantes. Ellos entendieron que al cliente, igual que al amor, se le seduce por el oído, y a eso le apuestan día a día para vender sus productos.</p>

<p>Los cantos cortos, repetitivos, graciosos y en ocasiones poéticos, circulan por la ciudad al paso de estos trabajadores itinerantes que utilizan la música para contrarrestar desigualdades laborales y necesidades de todo tipo.</p>
 
<p>Recorrer la ciudad para conocerlos, confrontarse a sus realidades, problemáticas, miradas y sentimientos es la posibilidad que ofrece Pregoneros de Medellín. Una web documental interactiva que le propone al espectador/interactor, un diálogo con las realidades de trabajadores informales que raramente tienen la posibilidad de ser protagonistas.
El usuario recorre virtualmente la ciudad, eligiendo el ritmo y la ruta que crea conveniente para crear su propia experiencia documental. Es libre de retroceder o girar en puntos específicos y sin moverse de su silla, ir al encuentro con la diversidad a través de personas que le contarán y cantarán un poco de su mundo.</p>
 
<p>Las rutinas, productos, canciones, problemas y anécdotas de los pregoneros, se presentan a través de entrevistas, videos cortos, fotografías y registros sonoros a los cuales el interactor accede en el orden y  el tiempo que desee.</p>

<p>Es un viaje al interior de la cultura popular y un cruce de caminos con la idiosincrasia colombiana.</p>

<p>El recorrido se hace con los oídos, los ojos y por supuesto con el corazón.</p>

<h3>Un proyecto Transmedia</h3>

<p>Pregoneros de Medellín es un producto audiovisual transmedia ideado para cuatro formatos complementarios pero autónomos: La televisión, una  web documental interactiva, exposiciones de fotografía itinerantes y un largometraje documental.  Los vendedores ambulantes que cantan para seducir a los clientes y sus problemáticas, son el tema principal de esta iniciativa, donde el espectador/interactor podrá transitar virtualmente la ciudad en busca de los protagonistas en la webdocumental, observarlos desde la pantalla de su televisor, o verlos en una exposición  fotográfica.</p>

<p>La web-documental interactiva y la exposición forográfica son proyectos terminados, listos para circular, mostrar y difundir. Actualmente buscamos un distribuidor para emitir cinco cápsulas documentales de cinco minutos por televisión y recursos para la postproducción del largometraje documental.</p>

<h3>Tecnologia</h3>

<p>Pregoneros de Medellín funciona en un navegador web y no necesita instalación.</p>

<p>Funciona mejor con un navegador reciente, como Chrome pero funciona tambien en Firefox, Safari y IE.</p>

<p>Para una experiencia 100% satisfactoria, es preferible navegar la página desde un computador reciente y tener una connexión a internet rápida.</p>

<p>Javascript, Html5, WebAudio API son las tecnologías con las que está programado.</p>

<p>El codigo es open-source y disponible en <a href="https://github.com/tdurand/pregoneros-de-medellin" target="_blank">Github</a></p>

<h3>Imagenes</h3>

<p><a href="http://data.pregonerosdemedellin.com/data/pictures/pictures_pregonerosdemedellin.zip">Descargar</a></p>

<iframe src="https://www.flickr.com/photos/132268176@N07/16972241527/in/set-72157651560015147/player/" width="100%" height="300px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<h3>Audio</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200926795&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Biografia directores</h3>

<p><strong>Ángela Carabalí</strong> (<a href="www.angelacarabali.com" target="_blank">www.angelacarabali.com</a>)</p>

<p>Fotógrafa documental y realizadora audiovisual. Comunicadora audiovisual de la Universidad de Medellín (2007).</p>

<p>Ganadora del premio Nacional Sin Formato en la categoría de fotografía, otorgado por el Ministerio Nacional de Cultura con la serie documental “Edilma, años de millas y semillas”. (Colombia 2008)</p>

<p>Ganadora de la beca Jóvenes Talentos (Icetex) para realizar un master Internacional en fotografía. Escuela EFTI (Madrid 2011)</p>

<p>Actualmente vive en Colombia, trabaja en el campo fotográfico y audiovisual alrededor de dos temas principales: vendedores ambulantes y  fiestas afrocolombianas tradicionales. Trabaja como  profesora de fotografía en la ciudad de Medellín y coordina proyectos de formación en fotografía con jovenes de diferentes regiones.</p>

<p><strong>Thibault Durand</strong> (<a href="www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a>)</p>

<p>Es ingeniero egresado de INSA en la ciudad de Lyon, Francia. Especialista en la tecnología web y en la concepción de interfaces simples, intuitivas y eficaces.</p>

<p>Trabajador independiente, en viaje perpétuo. El proyecto Pregoneros de Medellín es una manera de compartir  su experiencia de vida en paises como Brasil y Colombia, donde ha descubierto y apreciado la riqueza cultural de America latina.</p>


<h3>Contacto</h3>

<p>Email: pregonerosdemedellin@gmail.com</p>

<h3>Acerca de MINTIC-MINCULTURA</h3>

<p><a href="http://www.mintic.gov.co/" target="_blank">www.mintic.gov.co</a>, 
<a href="http://www.mincultura.gov.co/" target="_blank">www.mincultura.gov.co</a></p>

<p>El Ministerio de Tecnologías de la Información y las Comunicaciones, Min TIC y el Ministerio de Cultura, son los encargados de la convocatoria  Crea digital: un programa de estímulos a la creación y a la investigación fundada en la idea de fortalecer el sector de creadores de contenidos digitales e incentivar nuevas narrativas en ámbitos educativos y culturales del país.</p>

<p>Al ganar la convocatoria Crea Digital, Pregoneros de Medellín obtuvo apoyo económico que posibilitó su realización.</p>

<h3>Acerca de Carabalí - Grupo Creativo</h3>

<p>Colectivo conformado por los hermanos Ángela, Juliana y Esaú Carabalí.</p>
<p>Concibe proyectos, estructura ideas, genera intercambios y correspondencias entre artistas y profesionales de diferentes campos, en Colombia y el mundo.</p>
<p>Con experiencias y conocimientos en música, teatro, escritura creativa y lenguajes audiovisuales, el grupo Carabalí es una fusión de emprendedores abiertos a la hibridación con lenguajes clásicos o propuestas emergentes. </p>
<p>Si la iniciativa es de creación... “Píntela, que nosotros se la coloreamos”.</p>

<h3>Acerca de Thibault Durand -freelance-</h3>

<p><a href="www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a></p>

<p>Es ingeniero egresado de INSA en la ciudad de Lyon, Francia. Especialista en la tecnología web y en la concepción de interfaces simples, intuitivas y eficaces.</p>

<p>Trabajador independiente, en viaje perpétuo. El proyecto Pregoneros de Medellín es una manera de compartir  su experiencia de vida en paises como Brasil y Colombia, donde ha descubierto y apreciado la riqueza cultural de America latina.</p>

<h3>Acerca de Grupo Baobab (aliado)</h3>

<p><a href="www.grupobaobab.com" target="_blank">www.grupobaobab.com</a></p>

<p>Grupo Baobab es una empresa de Comunicación Gráfica radicada en Medellín.
Se describe como una empresa de mentes creativas, inquietas y aprendices de la vida. 
Sus competencias: Estrategias de endomarketing con alto nivel experiencial y creativo.
Sus fortalezas: trabajar en co-equipo con sus clientes en proyectos y estrategias de transformación empresarial, ya sea desde gestión de cambio, planes de incentivos o comunicación, aportando el toque gráfico e innovador.</p>
<p>Grupo Baobab es un aliado de Pregoneros de Medellín. La cooperación entre ambos permitió a Pregoneros aspirar a la convocatoria de Crea Digital.</p>

<h3>Creditos</h3>

<p>Detrás (y alrededor) de Pregoneros de Medellín, hay un equipo de profesionales comprometidos. Cada uno ha aportado mucho para construir este sueño desde su disciplina, su visión y sus capacidades. Un grupo diverso, complementario, y sobretodo ¡competente!  Gente dispuesta que acudió al llamado del  pregón y le regalaron no solo su tiempo, sino también su amor y su talento.</p>

<p><strong>Este proyecto fue creado por:</strong></p>
<p>Juliana Carabalí, Ángela Carabalí, Esaú Carabalí y Thibault Durand.</p>
<p><strong>Dirección</strong></p> 
<p>Ángela Carabalí  y Thibault Durand.</p>
<p><strong>Realización Audiovisual</strong></p>
<p>Ángela Carabalí</p>
<p><strong>Realización Web</strong></p>
<p>Thibault Durand</p>
<p><strong>Gerencia de Producción</strong></p>
<p>Sara Espinal Ramírez.</p>
<p><strong>Diseño Gráfico</strong></p>
<p>Nicole Gómez</p>
<p><strong>Dirección de Fotografía, Cámara y Montaje</strong></p>
<p>Mario Barrios</p>
<p><strong>Diseño Sonoro y Mezcla</strong></p>
<p>Carlos Arcila</p>
<p><strong>Segunda Cámara</strong></p>
<p>Karla Corrales</p>
<p><strong>Asistente de Cámara</strong></p>
<p>Sergio Agudelo y José Pardo</p>
<p><strong>Auxiliar de Investigación</strong></p>
<p>Ángela Castaño</p>
<p><strong>Gaffer</strong></p>
<p>Edwin Osnid Sepúlveda</p>
<p><strong>Foto Fija</strong></p>
<p>Andrés Zea y Henry Jimenez</p>
<p><strong>Animación</strong></p> 
<p>Alejandra Tilano</p>
<p><strong>Dirección de Comunicaciones</strong></p>
<p>Sofía Carvalho</p>
<p><strong>Producción de Campo (Encargada)</strong></p>
<p>Lina Bolivar</p>
<p><strong>Catering</strong></p>
<p>Martha Susana Henao</p>
<p><strong>Redacción de textos y Traducción al Francés</strong></p>
<p>Juliana Carabalí</p>
<p><strong>Desarrollo Conceptual, Data manager y Transcripciones</strong></p>
<p>Esaú Carabalí</p>
<p><strong>Traducción al Inglés</strong></p>
<p>Daniela Espinosa Muñoz</p>
<p><strong>Música Original</strong></p>
<p>Juancho Valencia</p>
<p><strong>Música</strong></p>
<p>Phonoclórica, Rancho Aparte, José Gallardo</p>
<p><strong>Tutores</strong></p>
<p>Arnau Gifreu Castells, Simon Duflo</p>
<p><strong>Alianza con el Grupo Baobab</strong></p>
<p>Ana Molina</p>
<p><strong>Agradecimientos</strong></p>
<p>Kelvin Eisse y Aleja León (revisión de traducciones al inglés), Christine Durand (revisión de traducciones al francés) , Andres Jarach (consultoría), Kevin Darne (beta-testing)</p>


<p><strong>Kisskissbankbank</strong></p>
<p>Mil y mil gracias a todos! (y a cada uno)</p>

<li>Durand Thibault</li>
<li>Durand Christine</li>
<li>Coulaud Christian</li>
<li>Feugère Catherine</li>
<li>Castaño Fabian</li>
<li>Matula Nicolas</li>
<li>Martin Anne-Julie</li>
<li>Carabali Juliana</li>
<li>Loboa   Hugo Nelson</li>
<li>Durand Francis</li>
<li>Espinal Luisa</li>
<li>Durand Bastien</li>
<li>Mezza Federico </li>
<li>Guerot - Vallette Monique</li>
<li>Hoyos Andres</li>
<li>Albert Victor</li>
<li>Sadurny Luca</li>
<li>Villota Eliana</li>
<li>Pelat Nadine</li>
<li>Capiorca Federico Pico</li> 
<li>Couché Célie</li>
<li>George Cyril</li>
<li>Henriquez Armando</li>
<li>Carabali Esau</li>
<li>Ganne Valérie</li>
<li>Douill Loic</li>
<li>Rios Daniel</li>
<li>Benítez Doris</li>
<li>Heredia Ruiz Verónica</li>
<li>Roux Pierre-Yves</li>
<li>Amaide Pierre</li>
<li>Orihuela Benoit</li>
<li>Cuesta Juan Jorge</li>
<li>Miranda Moscoso Ada Gabriela</li>
<li>Léoture Nadia</li>
<li>Durand Paul</li>
<li>Baude Pascal et Annick</li>
<li>Laure David</li>
<li>Pignot Emmanuel</li>
<li>Ung Catherine</li>
<li>Cédat Bruno</li>
<li>Utopieconcrète Samuel</li>
<li>Seguin Olivier</li>
<li>Guillaumont Agnès</li>
<li>Luis Fernando López</li>
<li>Wagner Odile</li>
<li>Jeandidier Bruno</li>
<li>Eslava  Marleida</li>
<li>Ramirez Martinez Maria Marina</li>
<li>Zarzosa Cebrián Alberto</li>
<li>Jouanneau Odile</li>
<li>Durand Jean-Michel</li>
<li>Feugere Leo</li>
<li>Dareths Jean</li>
<li>Michelot Samuel</li>
<li>Espinal Sara</li>
<li>Ramirez Dinelly</li>
<li>Jean Colette</li>
<li>Clot Samuel</li>
<li>Sacha Beyl</li>
<li>Sebti Saad</li>
<li>Duret Vincent</li>
<li>Muñoz Betty</li>
<li>Durand Jean-Marie</li>
<li>Deschamps Lucette</li>
<li>Penil Vonnette</li>
<li>Olliéro Maïlys</li>
<li>cellois23 cellois23</li>
<li>Ménier   Philippine</li>
<li>Charmetant Thibault</li>
<li>Erlich Stefan</li>
<li>Giraldo Rubiela</li>
<li>Guivarch Pierre</li>
<li>Cochet   Gwenvaël</li>
<li>Jean Madeleine</li>
<li>Cramer Xavier</li>
<li>Favier Jean Marc</li>
<li>Guivarch Jaquannie</li>
<li>Le Corre Laurent</li>
<li>Paquignon William</li>
<li>Fiorin  Leandro</li>
<li>Darne   Kevin</li>
<li>Albano María</li>
<li>Ponce Neysa</li>
<li>Leiva Mariana</li>
<li>Jaffré Tristan</li>
<li>Rojas Rosa</li>
<li>Canon Grégoire</li>
<li>Angie Pliego Record</li>
<li>Marrec Stephane</li>
<li>Victoria Escobar</li>
<li>Thomas Patricia</li>
<li>Sanchez Tiphaine</li>
<li>Fernandez Carolina</li>
<li>Cristiá Moira</li>
<li>Piperno Mariana</li>
<li>Sonic Laura</li>
<li>Elen Jaffré</li>
<li>Pauline Kerros</li>
<li>Magrini Ana</li>
<li>Carlos Ramacciotti</li>
<li>Ojeda Carlos</li>

    <% } %>
    <% if(lang == "en") {%>
    <p>Available Soon</p>
    <% } %>
    <% if(lang == "fr") {%>
    <p>Bientôt disponible</p>
    <% } %>



</div>

<div class="page-btnclose">
</div>

<div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>