<div class="page-topbar">
</div>
<div class="page-logo"></div>
<div class="page-separator"></div>

<div class="page-content">
<h2><%= STR.pagePressKitTitle %></h2>

    <% if(lang == "es") {%>

<h3>Contacto</h3>

<p>Email: pregonerosdemedellin@gmail.com</p>

<p>Ángela Carabalí: angelita.cg@gmail.com | Cel (Colombia) : 3004683708</p>

<h3>Logos</h3>

<p class="align-center"><img src="images/presskit/logo-squarebrush.png" width="200px"></p>

<h3>URL</h3>

<p><a href="http://www.pregonerosdemedellin.com" target="_blank">http://www.pregonerosdemedellin.com</a></p>

<h3>Trailer</h3>

<p class="align-center"><iframe src="https://player.vimeo.com/video/123789400?color=ffd44a&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

<h3>Storyline</h3>

<p>Recorriendo virtualmente Medellín conocerás vendedores ambulantes, que pregonando, le apuestan a la vida a pesar de las dificultades  de su oficio.</p>

<h3>Descripción</h3>

<p>La webdocumental interactiva de los que venden cantando en Medellín, Colombia. Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído.</p>

<p>Una iniciativa documental soñada por Esaú, Juliana y Angela Carabalí; que se tranformó en web-documental interactiva gracias al talento del realizador web francés Thibault Durand, codirector del proyecto junto con Angela Carabalí, fotógrafa y documentalista colombiana.</p>

<p>Pregoneros de Medellín es una realidad gracias al apoyo del Ministerio de Cultura y del Ministerio de Tecnologias de  la Información y las Comunicaciones.(TIC), a través de la convocatoria Crea digital.</p>

<h3>Sinopsis (corta)</h3>

<p>El paisaje sonoro de Medellín es  contrastante. En esta ciudad  hay voces de todo tipo, y entre ellas, los cantos urbanos de los vendedores ambulantes. Ellos entendieron que al cliente, igual que al amor, se le seduce por el oído, y a eso le apuestan para vender sus productos. Recorrer virtualmente la ciudad para conocer las realidades y problemáticas de estos trabajadores itinerantes es la posibilidad que ofrece Pregoneros de Medellín. Una web documental interactiva donde el espectador/interactor,  dialoga con las realidades de trabajadores informales que raramente son protagonistas.</p>

<p>En el recorrido, el usuario  eligie  el ritmo y la ruta,  creando  una experiencia documental única. Puede retroceder o girar en puntos específicos y  desde su silla, ir al encuentro con pregoneros que le contarán y cantarán un poco de su mundo. Hay entrevistas, videos, fotografías y registros sonoros a los cuales  el interactor accede en el orden y  el tiempo que desee.</p>

<h3>Sinopsis (larga)</h3>

<p>El paisaje sonoro de Medellín es diverso  y contrastante. En esta ciudad  de más de tres millones de habitantes hay voces de todo tipo, y entre ellas sobresalen cantos urbanos, que vienen directamente de algunos vendedores ambulantes. Ellos entendieron que al cliente, igual que al amor, se le seduce por el oído, y a eso le apuestan día a día para vender sus productos.</p>

<p>Los cantos cortos, repetitivos, graciosos y en ocasiones poéticos, circulan por la ciudad al paso de estos trabajadores itinerantes que utilizan la música para contrarrestar desigualdades laborales y necesidades de todo tipo.</p>
 
<p>Recorrer la ciudad para conocerlos, confrontarse a sus realidades, problemáticas, miradas y sentimientos es la posibilidad que ofrece Pregoneros de Medellín. Una web documental interactiva que le propone al espectador/interactor, un diálogo con las realidades de trabajadores informales que raramente tienen la posibilidad de ser protagonistas.
El usuario recorre virtualmente la ciudad, eligiendo el ritmo y la ruta que crea conveniente para crear su propia experiencia documental. Es libre de retroceder o girar en puntos específicos y sin moverse de su silla, ir al encuentro con la diversidad a través de personas que le contarán y cantarán un poco de su mundo.</p>
 
<p>Las rutinas, productos, canciones, problemas y anécdotas de los pregoneros, se presentan a través de entrevistas, videos cortos, fotografías y registros sonoros a los cuales el interactor accede en el orden y  el tiempo que desee.</p>

<p>Es un viaje al interior de la cultura popular y un cruce de caminos con la idiosincrasia colombiana.</p>

<p>El recorrido se hace con los oídos, los ojos y por supuesto con el corazón.</p>

<h3>Un proyecto Transmedia</h3>

<p>Pregoneros de Medellín es un producto audiovisual transmedia ideado para cuatro formatos complementarios pero autónomos: La televisión, una  web documental interactiva, exposiciones de fotografía itinerantes y un largometraje documental.  Los vendedores ambulantes que cantan para seducir a los clientes y sus problemáticas, son el tema principal de esta iniciativa, donde el espectador/interactor podrá transitar virtualmente la ciudad en busca de los protagonistas en la webdocumental, observarlos desde la pantalla de su televisor, o verlos en una exposición  fotográfica.</p>

<p>La web-documental interactiva y la exposición forográfica son proyectos terminados, listos para circular, mostrar y difundir. Actualmente buscamos un distribuidor para emitir cinco cápsulas documentales de cinco minutos por televisión y recursos para la postproducción del largometraje documental.</p>

<h3>Tecnologia</h3>

<p>Pregoneros de Medellín funciona en un navegador web y no necesita instalación.</p>

<p>Funciona mejor con un navegador reciente, como Chrome pero funciona tambien en Firefox, Safari y IE.</p>

<p>Para una experiencia 100% satisfactoria, es preferible navegar la página desde un computador reciente y tener una connexión a internet rápida.</p>

<p>Javascript, Html5, WebAudio API son las tecnologías con las que está programado.</p>

<p>El codigo es open-source y disponible en <a href="https://github.com/tdurand/pregoneros-de-medellin" target="_blank">Github</a></p>

<h3>Imagenes</h3>

<p>Fotógrafo : Henry Jimenez</p>

<p><a href="http://data.pregonerosdemedellin.com/data/pictures/pictures_pregonerosdemedellin.zip">Descargar</a></p>

<iframe src="https://www.flickr.com/photos/132268176@N07/16972241527/in/set-72157651560015147/player/" width="100%" height="300px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<h3>Audio</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200926795&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Apariciones en medios</h3>

<p><a href="http://www.scoop.it/t/pregoneros-de-medell" target="_blank">http://www.scoop.it/t/pregoneros-de-medell</a></p>

<h3>Biografia directores</h3>

<p><strong>Ángela Carabalí</strong> (<a href="http://www.angelacarabali.com" target="_blank">www.angelacarabali.com</a>)</p>

<p>Fotógrafa documental y realizadora audiovisual. Comunicadora audiovisual de la Universidad de Medellín (2007).</p>

<p>Ganadora del premio Nacional Sin Formato en la categoría de fotografía, otorgado por el Ministerio Nacional de Cultura con la serie documental “Edilma, años de millas y semillas”. (Colombia 2008)</p>

<p>Ganadora de la beca Jóvenes Talentos (Icetex) para realizar un master Internacional en fotografía. Escuela EFTI (Madrid 2011)</p>

<p>Actualmente vive en Colombia, trabaja en el campo fotográfico y audiovisual alrededor de dos temas principales: vendedores ambulantes y  fiestas afrocolombianas tradicionales. Trabaja como  profesora de fotografía en la ciudad de Medellín y coordina proyectos de formación en fotografía con jovenes de diferentes regiones.</p>

<p><strong>Thibault Durand</strong> (<a href="http://www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a>)</p>

<p>Es ingeniero egresado de INSA en la ciudad de Lyon, Francia. Especialista en la tecnología web y en la concepción de interfaces simples, intuitivas y eficaces.</p>

<p>Trabajador independiente, en viaje perpétuo. El proyecto Pregoneros de Medellín es una manera de compartir  su experiencia de vida en paises como Brasil y Colombia, donde ha descubierto y apreciado la riqueza cultural de America latina.</p>

<h3>Acerca de MINTIC-MINCULTURA</h3>

<p><a href="http://www.mintic.gov.co/" target="_blank">www.mintic.gov.co</a>, 
<a href="http://www.mincultura.gov.co/" target="_blank">www.mincultura.gov.co</a></p>

<p>El Ministerio de Tecnologías de la Información y las Comunicaciones, Min TIC y el Ministerio de Cultura, son los encargados de la convocatoria  Crea digital: un programa de estímulos a la creación y a la investigación fundada en la idea de fortalecer el sector de creadores de contenidos digitales e incentivar nuevas narrativas en ámbitos educativos y culturales del país.</p>

<p>Al ganar la convocatoria Crea Digital, Pregoneros de Medellín obtuvo apoyo económico que posibilitó su realización.</p>

<h3>Acerca de Carabalí - Grupo Creativo</h3>

<p>Colectivo conformado por los hermanos Ángela, Juliana y Esaú Carabalí.</p>
<p>Concibe proyectos, estructura ideas, genera intercambios y correspondencias entre artistas y profesionales de diferentes campos, en Colombia y el mundo.</p>
<p>Con experiencias y conocimientos en música, teatro, escritura creativa y lenguajes audiovisuales, el grupo Carabalí es una fusión de emprendedores abiertos a la hibridación con lenguajes clásicos o propuestas emergentes. </p>
<p>Si la iniciativa es de creación... “Píntela, que nosotros se la coloreamos”.</p>

<h3>Acerca de Thibault Durand -freelance-</h3>

<p><a href="http://www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a></p>

<p>Es ingeniero egresado de INSA en la ciudad de Lyon, Francia. Especialista en la tecnología web y en la concepción de interfaces simples, intuitivas y eficaces.</p>

<p>Trabajador independiente, en viaje perpétuo. El proyecto Pregoneros de Medellín es una manera de compartir  su experiencia de vida en paises como Brasil y Colombia, donde ha descubierto y apreciado la riqueza cultural de America latina.</p>

<h3>Acerca de Grupo Baobab (aliado)</h3>

<p><a href="http://www.grupobaobab.com" target="_blank">www.grupobaobab.com</a></p>

<p>Grupo Baobab es una empresa de Comunicación Gráfica radicada en Medellín.
Se describe como una empresa de mentes creativas, inquietas y aprendices de la vida. 
Sus competencias: Estrategias de endomarketing con alto nivel experiencial y creativo.
Sus fortalezas: trabajar en co-equipo con sus clientes en proyectos y estrategias de transformación empresarial, ya sea desde gestión de cambio, planes de incentivos o comunicación, aportando el toque gráfico e innovador.</p>
<p>Grupo Baobab es un aliado de Pregoneros de Medellín. La cooperación entre ambos permitió a Pregoneros aspirar a la convocatoria de Crea Digital.</p>

<h3>Creditos</h3>

<p>Detrás (y alrededor) de Pregoneros de Medellín, hay un equipo de profesionales comprometidos. Cada uno ha aportado mucho para construir este sueño desde su disciplina, su visión y sus capacidades. Un grupo diverso, complementario, y sobretodo ¡competente!  Gente dispuesta que acudió al llamado del  pregón y le regalaron no solo su tiempo, sino también su amor y su talento.</p>

<p><strong>Este proyecto fue creado por:</strong></p>
<p>Juliana Carabalí, Ángela Carabalí, Esaú Carabalí y Thibault Durand.</p>
<p><strong>Dirección</strong></p> 
<p>Ángela Carabalí  y Thibault Durand.</p>
<p><strong>Realización Audiovisual</strong></p>
<p>Ángela Carabalí</p>
<p><strong>Realización Web</strong></p>
<p>Thibault Durand</p>
<p><strong>Gerencia de Producción</strong></p>
<p>Sara Espinal Ramírez.</p>
<p><strong>Diseño Gráfico</strong></p>
<p>Nicole Gómez</p>
<p><strong>Dirección de Fotografía, Cámara y Montaje</strong></p>
<p>Mario Barrios</p>
<p><strong>Diseño Sonoro y Mezcla</strong></p>
<p>Carlos Arcila</p>
<p><strong>Segunda Cámara</strong></p>
<p>Karla Corrales</p>
<p><strong>Asistente de Cámara</strong></p>
<p>Sergio Agudelo y José Pardo</p>
<p><strong>Auxiliar de Investigación</strong></p>
<p>Ángela Castaño</p>
<p><strong>Gaffer</strong></p>
<p>Edwin Osnid Sepúlveda</p>
<p><strong>Foto Fija</strong></p>
<p>Andrés Zea y Henry Jimenez</p>
<p><strong>Animación</strong></p> 
<p>Alejandra Tilano</p>
<p><strong>Dirección de Comunicaciones</strong></p>
<p>Sofía Carvalho</p>
<p><strong>Producción de Campo (Encargada)</strong></p>
<p>Lina Bolivar</p>
<p><strong>Catering</strong></p>
<p>Martha Susana Henao</p>
<p><strong>Redacción de textos y Traducción al Francés</strong></p>
<p>Juliana Carabalí</p>
<p><strong>Desarrollo Conceptual, Data manager y Transcripciones</strong></p>
<p>Esaú Carabalí</p>
<p><strong>Traducción al Inglés</strong></p>
<p>Daniela Espinosa Muñoz</p>
<p><strong>Música Original</strong></p>
<p>Juancho Valencia</p>
<p><strong>Música</strong></p>
<p>Phonoclórica, Rancho Aparte, José Gallardo</p>
<p><strong>Tutores</strong></p>
<p>Arnau Gifreu Castells, Simon Duflo</p>
<p><strong>Alianza con el Grupo Baobab</strong></p>
<p>Ana Molina</p>
<p><strong>Agradecimientos</strong></p>
<p>Kelvin Eisse y Aleja León (revisión de traducciones al inglés), Christine Durand (revisión de traducciones al francés) , Andres Jarach (consultoría), Kevin Darne (beta-testing)</p>


<p><strong>Kisskissbankbank</strong></p>
<p>Mil y mil gracias a todos! (y a cada uno)</p>

<li>Durand Thibault</li>
<li>Durand Christine</li>
<li>Coulaud Christian</li>
<li>Feugère Catherine</li>
<li>Castaño Fabian</li>
<li>Matula Nicolas</li>
<li>Martin Anne-Julie</li>
<li>Carabali Juliana</li>
<li>Loboa   Hugo Nelson</li>
<li>Durand Francis</li>
<li>Espinal Luisa</li>
<li>Durand Bastien</li>
<li>Mezza Federico </li>
<li>Guerot - Vallette Monique</li>
<li>Hoyos Andres</li>
<li>Albert Victor</li>
<li>Sadurny Luca</li>
<li>Villota Eliana</li>
<li>Pelat Nadine</li>
<li>Capiorca Federico Pico</li> 
<li>Couché Célie</li>
<li>George Cyril</li>
<li>Henriquez Armando</li>
<li>Carabali Esau</li>
<li>Ganne Valérie</li>
<li>Douill Loic</li>
<li>Rios Daniel</li>
<li>Benítez Doris</li>
<li>Heredia Ruiz Verónica</li>
<li>Roux Pierre-Yves</li>
<li>Amaide Pierre</li>
<li>Orihuela Benoit</li>
<li>Cuesta Juan Jorge</li>
<li>Miranda Moscoso Ada Gabriela</li>
<li>Léoture Nadia</li>
<li>Durand Paul</li>
<li>Baude Pascal et Annick</li>
<li>Laure David</li>
<li>Pignot Emmanuel</li>
<li>Ung Catherine</li>
<li>Cédat Bruno</li>
<li>Utopieconcrète Samuel</li>
<li>Seguin Olivier</li>
<li>Guillaumont Agnès</li>
<li>Luis Fernando López</li>
<li>Wagner Odile</li>
<li>Jeandidier Bruno</li>
<li>Eslava  Marleida</li>
<li>Ramirez Martinez Maria Marina</li>
<li>Zarzosa Cebrián Alberto</li>
<li>Jouanneau Odile</li>
<li>Durand Jean-Michel</li>
<li>Feugere Leo</li>
<li>Dareths Jean</li>
<li>Michelot Samuel</li>
<li>Espinal Sara</li>
<li>Ramirez Dinelly</li>
<li>Jean Colette</li>
<li>Clot Samuel</li>
<li>Sacha Beyl</li>
<li>Sebti Saad</li>
<li>Duret Vincent</li>
<li>Muñoz Betty</li>
<li>Durand Jean-Marie</li>
<li>Deschamps Lucette</li>
<li>Penil Vonnette</li>
<li>Olliéro Maïlys</li>
<li>cellois23 cellois23</li>
<li>Ménier   Philippine</li>
<li>Charmetant Thibault</li>
<li>Erlich Stefan</li>
<li>Giraldo Rubiela</li>
<li>Guivarch Pierre</li>
<li>Cochet   Gwenvaël</li>
<li>Jean Madeleine</li>
<li>Cramer Xavier</li>
<li>Favier Jean Marc</li>
<li>Guivarch Jaquannie</li>
<li>Le Corre Laurent</li>
<li>Paquignon William</li>
<li>Fiorin  Leandro</li>
<li>Darne   Kevin</li>
<li>Albano María</li>
<li>Ponce Neysa</li>
<li>Leiva Mariana</li>
<li>Jaffré Tristan</li>
<li>Rojas Rosa</li>
<li>Canon Grégoire</li>
<li>Angie Pliego Record</li>
<li>Marrec Stephane</li>
<li>Victoria Escobar</li>
<li>Thomas Patricia</li>
<li>Sanchez Tiphaine</li>
<li>Fernandez Carolina</li>
<li>Cristiá Moira</li>
<li>Piperno Mariana</li>
<li>Sonic Laura</li>
<li>Elen Jaffré</li>
<li>Pauline Kerros</li>
<li>Magrini Ana</li>
<li>Carlos Ramacciotti</li>
<li>Ojeda Carlos</li>

    <% } %>
    <% if(lang == "en") {%>
    
<h3>Contact</h3>

<p>Email: pregonerosdemedellin@gmail.com</p>

<p>Thibault Durand: tibo.durand@gmail.com</p>

<h3>Logos</h3>

<p class="align-center"><img src="images/presskit/logo-squarebrush.png" width="200px"></p>

<h3>URL</h3>

<p><a href="http://www.pregonerosdemedellin.com" target="_blank">http://www.pregonerosdemedellin.com</a></p>

<h3>Trailer</h3>

<p class="align-center"><iframe src="https://player.vimeo.com/video/123789400?color=ffd44a&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

<h3>Storyline</h3>

<p>Virtually strolling through Medellín you will meet street vendors who bet on life shouting, despite the difficulties of their occupation.</p>

<h3>Description</h3>

<p>The interactive web documentary about those who sing to sell in Medellín, Colombia.
A virtual tour through the work and personal universe of those who understand that lovers and customers are seduced by ear.</p>

<p>A documentary initiative dreamed up by Esaú, Juliana and Angela Carabalí; that transformed into an interactive web-documentary thanks to Thibault Durand’s talent, French computer specialist and co-director of the project along with Angela Carabalí, Colombian photographer and documentarian.</p>

<p>Pregoneros de Medellín is a reality thanks to the support of the Ministry of Culture and the Ministry of Information and Communications Technologies (ICT), through the Crea Digital submission.</p>

<h3>Sinopsis (short)</h3>

<p>Medellín’s soundscape is contrasting. In this city there are voices of all kinds, including urban shouting from street vendors. They understand that clientele, like lovers, are seduced by ear, and they commit to this in order to sell their products. The possibility offered by Pregoneros de Medellín is to tour the city to meet these vendors and confront their realities and problems. An interactive web documentary where the viewer/player engages in dialogue with the realities of informal workers who are rarely protagonists.</p>

<p>On the tour, the user chooses their pace and path, creating a unique film experience. They can go back or turn in specific points, and, from their chair, go to meet criers who will tell and sing a bit of their world. There are interviews, videos, photographs and sound recordings to which the player gains access in the order and the time they want.</p>

<p>The tour is performed with ears, eyes and of course with the heart.</p>

<h3>Sinopsis (longer)</h3>

<p>Medellín’s soundscape is diverse and contrasting. In this city, with its population of over three million people, there are voices of all kinds, and among them the urban sounds rise above, coming directly from some street vendors. They understand that clientele, like lovers, are seduced by ear, and they commit to this every day in order to sell their products.</p>

<p>The short, repetitive, humorous, and sometimes-poetical songs pass through the city to the rhythm of these itinerant workers, who use music to counter labor inequalities and needs of all kinds.</p>
 
<p>The possibility offered by Pregoneros de Medellín is to tour the city to meet these vendors, confront their realities, problems, perspectives and feelings. An interactive web documentary that offers the viewer/player a dialogue with the realities of informal workers, who rarely have the opportunity to be protagonists.</p>

<p>The user virtually strolls through the city, choosing the rhythm and route they deem appropriate to create their own documentary experience. They are free to turn back or turn at specific points without leaving their chair, or to go meet diversity through people who will tell and sing a bit of their world.</p>
 
<p>The criers’ routines, products, songs, problems and stories are presented through interviews, short videos, photographs and sound recordings to which the player accesses in the order and the time they want.</p>

<p>It is a journey through popular culture and a crossroads with Colombian idiosyncrasies.</p>

<p>The tour is performed with ears, eyes and of course with the heart.</p>

<h3>A Transmedia Project</h3>

<p>Pregoneros de Medellín is a transmedia audiovisual product designed for four complementary but independent formats: Television, an interactive web documentary, itinerant photo exhibitions, and a full-length documentary film. Street vendors who sing to attract customers, and their problems, are the focus of this initiative, where the viewer/player will be able to virtually navigate the city in search of the protagonists in the web documentary, to observe them through their TV screens, or to see them in a photographic exhibition.</p>

<p>On April 16th we will release the web doc in www.pregonerosdemedellin.com and will inaugurate the photo exhibition at the Lido Theatre in Medellín.
We are currently looking for a distributor to broadcast five documentary capsules, each five minutes long, on television, and also for resources for the documentary film postproduction.</p>

<h3>Tecnology</h3>

<p>Pregoneros de Medellín operates in a web browser and requires no installation.</p>

<p>It performs best with a recent browser like Chrome, but works well in Firefox, Safari and IE.</p>

<p>For a 100% satisfactory experience, it is preferred to browse the page from a recent computer and to have a fast internet LAN connection.</p>

<p>Javascript, Html5, WebAudio API are the technologies with which it is programmed.</p>

<p>The source code is open-source and available on <a href="https://github.com/tdurand/pregoneros-de-medellin" target="_blank">Github</a></p>

<h3>Pictures</h3>

<p>Photographer : Henry Jimenez</p>

<p><a href="http://data.pregonerosdemedellin.com/data/pictures/pictures_pregonerosdemedellin.zip">Download</a></p>

<iframe src="https://www.flickr.com/photos/132268176@N07/16972241527/in/set-72157651560015147/player/" width="100%" height="300px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<h3>Audio</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200926795&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Press Review</h3>

<p><a href="http://www.scoop.it/t/pregoneros-de-medell" target="_blank">http://www.scoop.it/t/pregoneros-de-medell</a></p>

<h3>Biography Directors</h3>

<p><strong>Ángela Carabalí</strong> (<a href="www.angelacarabali.com" target="_blank">www.angelacarabali.com</a>)</p>

<p>Documentary Photographer and Filmmaker. Audiovisual Communications graduate from University of Medellín (2007).</p>

<p>Winner of the Sin Formato National Award in the Photography category, awarded by the National Ministry of Culture with the documentary series "Edilma, years of miles and seeds." (Colombia 2008)</p>

<p>Winner of the Young Talents scholarship (Icetex), awarded with an International master in photography. EFTI School (Madrid 2011)</p>

<p>She currently lives in Colombia, and works in the photographic and audiovisual field around two main themes: street vendors and traditional Colombian Afro parties. She works as a photography professor in Medellín and coordinates photography training projects with young people from different regions.</p>

<p><strong>Thibault Durand</strong> (<a href="www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a>)</p>

<p>He is a graduate Engineer from INSA in Lyon, France. Specialist in web technology and creating simple, intuitive and effective interfaces design.</p>

<p> Self-employed, in perpetual journey. The Pregoneros de Medellín project is a way to share his life experience in countries like Brazil and Colombia, where he has discovered and appreciated Latin America’s cultural richness...</p>

<h3>About MINTIC-MINCULTURA</h3>

<p><a href="http://www.mintic.gov.co/" target="_blank">www.mintic.gov.co</a>, 
<a href="http://www.mincultura.gov.co/" target="_blank">www.mincultura.gov.co</a></p>

<p>The Ministry of Information and Communications Technologies, Min ICT and the Ministry of Culture, are responsible for the Crea Digital submission: an incentive program for creation and research founded on the idea of strengthening the digital content creators sector, and on the idea of encouraging new narratives in educational and cultural spaces of the country.</p>

<p>By winning the Crea Digital submission, Pregoneros de Medellín obtained financial support which enabled its realization.</p>

<h3>About Carabalí - Grupo Creativo</h3>

<p>Collective formed by the Carabalí siblings (Angela, Juliana and Esaú Carabalí).</p>
<p>They conceive projects, structure ideas, and generate exchanges and connections between artists and professionals from different fields in Colombia and the world.</p>
<p>With experiences and knowledge in music, theater, creative writing and audiovisual languages, the Carabalí group is a fusion of entrepreneurs who are open to hybridization with classical languages or emerging proposals.</p>
<p>If the initiative is about creating ... "Draw it, and we’ll add the color".</p>

<h3>About Thibault Durand -freelance-</h3>

<p><a href="http://www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a></p>

<p>He is a graduate Engineer from INSA in Lyon, France. Specialist in web technology and creating simple, intuitive and effective interfaces design.</p>

<p> Self-employed, in perpetual journey. The Pregoneros de Medellín project is a way to share his life experience in countries like Brazil and Colombia, where he has discovered and appreciated Latin America’s cultural richness...</p>

<h3>About Grupo Baobab (ally)</h3>

<p><a href="http://www.grupobaobab.com" target="_blank">www.grupobaobab.com</a></p>

<p>The Baobab group is a media company based in Medellín.
They describe themselves as a creative, restless minds company, who are apprentices of life.
Among its strengths, we highlight: the co-team work with clients in their projects and business transformation strategies, either from change management, incentive or communication plans, providing an innovative and creative graphic touch.</p>
<p>The Baobab Company is an ally of Pregoneros de Medellín.</p>


<h3>Credits</h3>

<p>Behind (and around) Pregoneros de Medellín, there’s a team of committed professionals. Each of them has contributed much to build this dream from their disciplines, their vision and their capabilities. A diverse, complementary group, and above all, competent! Willing people who answered to the criers’ call and gave them not only their time, but also their love and talent.</p>

<p><strong>This project was created by:</strong></p>
<p>Juliana Carabalí, Ángela Carabalí, Esaú Carabalí and Thibault Durand.</p>
<p><strong>Directors</strong></p> 
<p>Ángela Carabalí  and Thibault Durand.</p>
<p><strong>Realization Audiovisual</strong></p>
<p>Ángela Carabalí</p>
<p><strong>Realization Web</strong></p>
<p>Thibault Durand</p>
<p><strong>Production</strong></p>
<p>Sara Espinal Ramírez.</p>
<p><strong>Graphic Design</strong></p>
<p>Nicole Gómez</p>
<p><strong>Director of Photography, Camera and Editing</strong></p>
<p>Mario Barrios</p>
<p><strong>Direct Sound, Sound Design and Mixing</strong></p>
<p>Carlos Arcila</p>
<p><strong>Second Camera</strong></p>
<p>Karla Corrales</p>
<p><strong>Camera Assistants</strong></p>
<p>Sergio Agudelo and José Pardo</p>
<p><strong>Research Assistant</strong></p>
<p>Ángela Castaño</p>
<p><strong>Gaffer</strong></p>
<p>Edwin Osnid Sepúlveda</p>
<p><strong>Still Photography</strong></p>
<p>Andrés Zea and Henry Jimenez</p>
<p><strong>Animation</strong></p> 
<p>Alejandra Tilano</p>
<p><strong>Director of Communication</strong></p>
<p>Sofía Carvalho</p>
<p><strong>Field Production (Commissioned)</strong></p>
<p>Lina Bolivar</p>
<p><strong>Catering</strong></p>
<p>Martha Susana Henao</p>
<p><strong>Text writing and translation to French</strong></p>
<p>Juliana Carabalí</p>
<p><strong>Conceptual Development, Data manager and Transcripts</strong></p>
<p>Esaú Carabalí</p>
<p><strong>Translation to English</strong></p>
<p>Daniela Espinosa Muñoz</p>
<p><strong>Original Song</strong></p>
<p>Juancho Valencia</p>
<p><strong>Music</strong></p>
<p>Phonoclórica, Rancho Aparte, José Gallardo</p>
<p><strong>Tutors</strong></p>
<p>Arnau Gifreu Castells, Simon Duflo</p>
<p><strong>Alliance with Grupo Baobab</strong></p>
<p>Ana Molina</p>
<p><strong>Acknowledgements</strong></p>
<p>Kelvin Eisse and Aleja León (review of English translations), Christine Durand (review of French translations) , Andres Jarach (consultor), Kevin Darne (beta-testing), Otro Cuento Audiovisual</p>

<p><strong>Kisskissbankbank</strong></p>

<p>Many thanks to each one and all of you!</p>

<li>Durand Thibault</li>
<li>Durand Christine</li>
<li>Coulaud Christian</li>
<li>Feugère Catherine</li>
<li>Castaño Fabian</li>
<li>Matula Nicolas</li>
<li>Martin Anne-Julie</li>
<li>Carabali Juliana</li>
<li>Loboa   Hugo Nelson</li>
<li>Durand Francis</li>
<li>Espinal Luisa</li>
<li>Durand Bastien</li>
<li>Mezza Federico </li>
<li>Guerot - Vallette Monique</li>
<li>Hoyos Andres</li>
<li>Albert Victor</li>
<li>Sadurny Luca</li>
<li>Villota Eliana</li>
<li>Pelat Nadine</li>
<li>Capiorca Federico Pico</li> 
<li>Couché Célie</li>
<li>George Cyril</li>
<li>Henriquez Armando</li>
<li>Carabali Esau</li>
<li>Ganne Valérie</li>
<li>Douill Loic</li>
<li>Rios Daniel</li>
<li>Benítez Doris</li>
<li>Heredia Ruiz Verónica</li>
<li>Roux Pierre-Yves</li>
<li>Amaide Pierre</li>
<li>Orihuela Benoit</li>
<li>Cuesta Juan Jorge</li>
<li>Miranda Moscoso Ada Gabriela</li>
<li>Léoture Nadia</li>
<li>Durand Paul</li>
<li>Baude Pascal et Annick</li>
<li>Laure David</li>
<li>Pignot Emmanuel</li>
<li>Ung Catherine</li>
<li>Cédat Bruno</li>
<li>Utopieconcrète Samuel</li>
<li>Seguin Olivier</li>
<li>Guillaumont Agnès</li>
<li>Luis Fernando López</li>
<li>Wagner Odile</li>
<li>Jeandidier Bruno</li>
<li>Eslava  Marleida</li>
<li>Ramirez Martinez Maria Marina</li>
<li>Zarzosa Cebrián Alberto</li>
<li>Jouanneau Odile</li>
<li>Durand Jean-Michel</li>
<li>Feugere Leo</li>
<li>Dareths Jean</li>
<li>Michelot Samuel</li>
<li>Espinal Sara</li>
<li>Ramirez Dinelly</li>
<li>Jean Colette</li>
<li>Clot Samuel</li>
<li>Sacha Beyl</li>
<li>Sebti Saad</li>
<li>Duret Vincent</li>
<li>Muñoz Betty</li>
<li>Durand Jean-Marie</li>
<li>Deschamps Lucette</li>
<li>Penil Vonnette</li>
<li>Olliéro Maïlys</li>
<li>cellois23 cellois23</li>
<li>Ménier   Philippine</li>
<li>Charmetant Thibault</li>
<li>Erlich Stefan</li>
<li>Giraldo Rubiela</li>
<li>Guivarch Pierre</li>
<li>Cochet   Gwenvaël</li>
<li>Jean Madeleine</li>
<li>Cramer Xavier</li>
<li>Favier Jean Marc</li>
<li>Guivarch Jaquannie</li>
<li>Le Corre Laurent</li>
<li>Paquignon William</li>
<li>Fiorin  Leandro</li>
<li>Darne   Kevin</li>
<li>Albano María</li>
<li>Ponce Neysa</li>
<li>Leiva Mariana</li>
<li>Jaffré Tristan</li>
<li>Rojas Rosa</li>
<li>Canon Grégoire</li>
<li>Angie Pliego Record</li>
<li>Marrec Stephane</li>
<li>Victoria Escobar</li>
<li>Thomas Patricia</li>
<li>Sanchez Tiphaine</li>
<li>Fernandez Carolina</li>
<li>Cristiá Moira</li>
<li>Piperno Mariana</li>
<li>Sonic Laura</li>
<li>Elen Jaffré</li>
<li>Pauline Kerros</li>
<li>Magrini Ana</li>
<li>Carlos Ramacciotti</li>
<li>Ojeda Carlos</li>

    <% } %>
    <% if(lang == "fr") {%>
    
<h3>Contact</h3>

<p>Email: pregonerosdemedellin@gmail.com</p>

<p>Thibault Durand: tibo.durand@gmail.com</p>

<h3>Logos</h3>

<p class="align-center"><img src="images/presskit/logo-squarebrush.png" width="200px"></p>

<h3>URL</h3>

<p><a href="http://www.pregonerosdemedellin.com" target="_blank">http://www.pregonerosdemedellin.com</a></p>

<h3>Trailer</h3>

<p class="align-center"><iframe src="https://player.vimeo.com/video/123789400?color=ffd44a&portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe></p>

<h3>Storyline</h3>

<p>En se promenant virtuellement dans Medellín, vous rencontrerez des vendeurs ambulants, des crieurs, qui chantent malgré leur vie difficile.</p>

<h3>Description</h3>

<p>Le webdocumentaire interactif des crieurs ambulants colombiens. Parcourez virtuellement Medellín et découvrez l’univers de ceux qui ont compris, qu’en amour comme en commerce, c’est par la voix qu’on séduit.</p>

<p>C’est une initiative  documentaire rêvée par Esaú, Juliana et Ángela Carabalí ; initiative devenue un web-documentaire grâce  à Thibault Durand, coréalisateur du projet, avec la photographe et réalisatrice Ángela Carabalí.</p>

<p>Pregoneros de Medellín s’est concrétisé grâce au soutien du Ministère de la Culture et du Ministère des Technologies, de l’Information et des Communications (Min. TIC), via la bourse Crea Digital.</p>

<h3>Sinopsis (courte)</h3>

<p>Riche et hétéroclite, voici le paysage sonore de Medellín. Dans cette ville il y a toute sorte de voix, et parmi elles, celles des Pregoneros (crieurs). Ils  ont compris qu’en commerce, comme en amour, la séduction passe par le sens de l’ouïe.</p>

<p>S’immerger dans ce monde, parcourir la ville pour en retrouver les chants, les visages, les particularités et les problématiques des crieurs, voilà l’objectif de Pregoneros de Medellín. Un web documentaire interactif qui propose au spectateur/interacteur un dialogue avec les réalités de ces vendeurs rarement sur le devant de la scène.</p>

<p>L’utilisateur parcourt virtuellement  la ville, choisissant sa route et son rythme. Il crée de cette façon une expérience documentaire personnelle. Il est libre d’aller, venir, de faire marche arrière, et de chez lui, rencontrer la diversité de la ville, la contempler et l’écouter,  à travers la voix de ses habitants.</p>

<p>Le quotidien du travail, les chants, les problèmes et les anecdotes des Pregoneros, sont présentés à travers des entretiens, de courtes vidéos, des photographies et des enregistrements sonores auxquels l’interacteur accède, choisissant  l’ordre et la durée de sa découverte.</p>

<p>Tout au long de ce parcours, l’ouïe, la vue sont mises à contribution,  et aussi, bien sûr, le cœur.</p>

<h3>Sinopsis (larga)</h3>

<p>Riche et hétéroclite, voici le paysage sonore de Medellín. Dans cette ville de plus de trois millions d’habitants, il y a toutes sortes de voix, dont celles des Pregoneros (crieurs), vendeurs souvent itinérants qui utilisent le chant pour attirer les regards d’éventuels clients et susciter l’achat. Ils  ont compris, qu’en commerce, comme en amour, la séduction passe par le sens de l’ouïe. Vendre en chantant c’est un métier, un mode de vie.</p>

<p>La stratégie préférée de ces vendeurs est composée de refrains créatifs, drôles, poétiques et souvent plein d’humour. Le chant accompagne les parcours quotidiens des Pregoneros dans la ville,  met en avant les produits et permet aux crieurs de subvenir à leurs besoins dans un contexte de profonde inégalité où rien n’est facile.</p>
 
<p>S’immerger dans ce monde, parcourir la ville pour retrouver leurs chants, leurs visages, leurs particularités et leurs problématiques. Voilà l’objectif de Pregoneros de Medellín, un web documentaire interactif qui propose au spectateur/interacteur un dialogue avec les réalités de ces vendeurs rarement sur le devant de la scène.
L’utilisateur parcourt virtuellement  la ville, choisissant sa route et son rythme. Il crée de cette façon une expérience documentaire personnelle. Il est libre d’aller, venir, de faire marche arrière, et de chez lui, rencontrer la diversité de la ville, la contempler et l’écouter,  à travers la voix de ses habitants..</p>
 
<p>Le quotidien du travail, les chants, les problèmes et les anecdotes des Pregoneros, sont présentés à travers des entretiens, de courtes vidéos, des photographies et des enregistrements sonores auxquels l’interacteur accède, choisissant  l’ordre et la durée de sa découverte.</p>

<p>Pregoneros de Medellín est un voyage, un carrefour où l’on rencontre la culture populaire colombienne et ses particularités identitaires.
Tout au long de ce parcours, l’ouïe, la vue sont mises à contribution,  et aussi, bien sûr, le cœur.</p>

<h3>Un projet Transmedia</h3>

<p>Pregoneros de Medellín est un produit audiovisuel transmedia, constitué par quatre formats complémentaires mais autonomes : la télévision, un web-documentaire interactif, des expositions de photos itinérantes et un long-métrage documentaire.
Les vendeurs ambulants qui chantent pour séduire leurs clients, voilà le thème principal de cette initiative, où le spectateur/interacteur pourra parcourir virtuellement la ville de Medellín, chercher et trouver les protagonistes dans le web-documentaire, les observer depuis l’écran de sa télé ou les retrouver, aussi, dans une exposition photographique.</p>

<p>Le web-documentaire interactif et l’exposition photographique sont des projets achevés et prêts pour la diffusion. Actuellement, nous cherchons un diffuseur pour les cinq capsules documentaires pour la télévision, et le financement pour la post-production d’un long-métrage documentaire.</p>

<h3>Technologie</h3>

<p>Pregoneros de Medellín s’utilise avec un navigateur web.</p>

<p>Il est plus performant avec Chrome, mais il fonctionne aussi avec Firefox, Safari et IE.</p>

<p>Pour une expérience satisfaisante, il est préférable de se connecter depuis un ordinateur récent et de disposer d’une connexion haut débit.</p>

<p>Le site internet web a été programmé  via Javascript, Html5, WebAudio API.</p>

<p>Le code est Open-source et disponible sur <a href="https://github.com/tdurand/pregoneros-de-medellin" target="_blank">Github</a></p>

<h3>Images</h3>

<p>Photographe : Henry Jimenez</p>

<p><a href="http://data.pregonerosdemedellin.com/data/pictures/pictures_pregonerosdemedellin.zip">Télécharger</a></p>

<iframe src="https://www.flickr.com/photos/132268176@N07/16972241527/in/set-72157651560015147/player/" width="100%" height="300px" frameborder="0" allowfullscreen webkitallowfullscreen mozallowfullscreen oallowfullscreen msallowfullscreen></iframe>

<h3>Audio</h3>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200926795&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/200841025&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false"></iframe>

<h3>Revue de Presse</h3>

<p><a href="http://www.scoop.it/t/pregoneros-de-medell" target="_blank">http://www.scoop.it/t/pregoneros-de-medell</a></p>

<h3>Biographies directeurs</h3>

<p><strong>Ángela Carabalí</strong> (<a href="www.angelacarabali.com" target="_blank">www.angelacarabali.com</a>)</p>

<p>Diplômée en Communication et langages audiovisuels par l’Université de Medellín en Colombie (2007).</p>

<p>Prix National  Sin Formato dans la catégorie photographie  accordé par le Ministère National de la Culture avec la série documentaire “Edilma años de millas y Semillas.”</p>

<p>Boursière de l’Icetex dans le cadre des jeunes talents. Master International en Photographie á l'École de Photographie EFTI.(Madrid-2011).</p>

<p>Actuellement, Ángela habite en Colombie et enseigne la photographie Medellín. Elle mène également des projets de formation en photographie avec des jeunes de différentes régions tout en poursuivant un travail de création audiovisuel personnel autour des fêtes afrocolombiennes traditionnelles  et des vendeurs ambulants.</p>

<p><strong>Thibault Durand</strong> (<a href="http://www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a>)</p>

<p>Ingénieur diplômé de l’INSA de Lyon, Thibault est spécialisé dans les technologies web et la conception d’interfaces simples, intuitives et efficaces.</p>

<p>Travailleur indépendant en voyage perpétuel, il a vécu au Brésil puis en Colombie où il a pu découvrir la richesse de la culture latino américaine.</p>


<h3>A propos de MINTIC-MINCULTURA</h3>

<p><a href="http://www.mintic.gov.co/" target="_blank">www.mintic.gov.co</a>, 
<a href="http://www.mincultura.gov.co/" target="_blank">www.mincultura.gov.co</a></p>

<p>Le Ministère des Technologies de l’Information et des Communications, et le Ministère de Culture, proposent la bourse Crea Digital : un programme qui soutient la création et la recherche, dans le but d‘encourager les créateurs de contenus numériques et de stimuler de nouvelles productions dans les domaines éducatifs et culturels en Colombie.</p>

<p>Le soutien financier de la bourse Crea Digital a rendu possible la réalisation de Pregoneros de Medellín.</p>

<h3>A propos de Carabalí - Grupo Creativo</h3>

<p>Le groupe Créatif Carabalí, est un collectif fondé par Ángela et Juliana Carabalí, et leur frère Esaú.</p>
<p>Le groupe crée des projets, structure des idées, favorise les échanges entre artistes et des professionnels de différentes disciplines, en Colombie et de par le monde.</p>
<p>Carabalí Groupe Créatif est une réunion de professionnels indépendants venant de différents horizons : la musique, le théâtre, l’écriture créative et les langages audiovisuels. C’est un groupe ouvert à l’hybridation créative, par des langages de communication classiques ou émergents.</p>

<h3>Acerca de Thibault Durand -freelance-</h3>

<p><a href="http://www.thibault-durand.fr" target="_blank">www.thibault-durand.fr</a></p>

<p>Ingénieur diplômé de l’INSA de Lyon, Thibault est spécialisé dans les technologies web et la conception d’interfaces simples, intuitives et efficaces.</p>

<p>Travailleur indépendant en voyage perpétuel, il a vécu au Brésil puis en Colombie où il a pu découvrir la richesse de la culture latino américaine.</p>

<h3>Acerca de Grupo Baobab (aliado)</h3>

<p><a href="http://www.grupobaobab.com" target="_blank">www.grupobaobab.com</a></p>

<p>Le groupe Baobab est une entreprise de communication graphique de Medellín.
Ses compétences : stratégies en endomarketing avec un haut niveau d’expérience créative.
Ses atouts : collaboration étroite avec ses clients dans des projets et des stratégies de transformation d’entreprise,  gestion des changements et les plans de communication.</p>

<p>Le groupe Baobab est associé à Pregoneros de Medellín. Cette coopération a permis à Pregoneros de postuler à la bourse Crea digital.</p>

<h3>Crédits</h3>

<p>Pregoneros de Medellín a uni une équipe de professionnels engagés dans leur travail. Chacun d’entre eux, a apporté son regard, ses compétences, sa pierre à la construction de ce rêve. Un groupe divers et complémentaire qui a répondu à l’appel des refrains des crieurs et qui a donné temps, amour et talent.</p>

<p><strong>Ce projet à été créé par:</strong></p>
<p>Juliana Carabalí, Ángela Carabalí, Esaú Carabalí et Thibault Durand.</p>
<p><strong>Direction</strong></p> 
<p>Ángela Carabalí et Thibault Durand.</p>
<p><strong>Realisation Audiovisual</strong></p>
<p>Ángela Carabalí</p>
<p><strong>Realisation Web</strong></p>
<p>Thibault Durand</p>
<p><strong>Production</strong></p>
<p>Sara Espinal Ramírez.</p>
<p><strong>Graphiste</strong></p>
<p>Nicole Gómez</p>
<p><strong>Direction de Photographie, Cadreur et Montage</strong></p>
<p>Mario Barrios</p>
<p><strong>Prise de son, Design Sonore et Mixage</strong></p>
<p>Carlos Arcila</p>
<p><strong>Deuxième Cadreur</strong></p>
<p>Karla Corrales</p>
<p><strong>Assistants opérateur</strong></p>
<p>Sergio Agudelo et José Pardo</p>
<p><strong>Auxiliaire d'investigation</strong></p>
<p>Ángela Castaño</p>
<p><strong>Gaffer</strong></p>
<p>Edwin Osnid Sepúlveda</p>
<p><strong>Photographie</strong></p>
<p>Andrés Zea et Henry Jimenez</p>
<p><strong>Animations</strong></p> 
<p>Alejandra Tilano</p>
<p><strong>Directrice de la Communication</strong></p>
<p>Sofía Carvalho</p>
<p><strong>Production Opérationnelle</strong></p>
<p>Lina Bolivar</p>
<p><strong>Restauration</strong></p>
<p>Martha Susana Henao</p>
<p><strong>Ecriture des Textes, Traduction en Français</strong></p>
<p>Juliana Carabalí</p>
<p><strong>Developement Conceptuel, Data manager y Transcriptions</strong></p>
<p>Esaú Carabalí</p>
<p><strong>Traduction en Anglais</strong></p>
<p>Daniela Espinosa Muñoz</p>
<p><strong>Musique Original</strong></p>
<p>Juancho Valencia</p>
<p><strong>Musique</strong></p>
<p>Phonoclórica, Rancho Aparte, José Gallardo</p>
<p><strong>Tuteurs</strong></p>
<p>Arnau Gifreu Castells, Simon Duflo</p>
<p><strong>Aliance avec le Grupo Baobab</strong></p>
<p>Ana Molina</p>
<p><strong>Remerciements</strong></p>
<p>Kelvin Eisse et Aleja León (révision des traductions en anglais), Christine Durand (révision des traductions en français) , Andres Jarach (consultant), Kevin Darne (beta-testing), Otro Cuento Audiovisual</p>

<p><strong>Kisskissbankbank</strong></p>

<p>Merci , Merci beaucoup à tous! (et à chacun!)</p>

<li>Durand Thibault</li>
<li>Durand Christine</li>
<li>Coulaud Christian</li>
<li>Feugère Catherine</li>
<li>Castaño Fabian</li>
<li>Matula Nicolas</li>
<li>Martin Anne-Julie</li>
<li>Carabali Juliana</li>
<li>Loboa   Hugo Nelson</li>
<li>Durand Francis</li>
<li>Espinal Luisa</li>
<li>Durand Bastien</li>
<li>Mezza Federico </li>
<li>Guerot - Vallette Monique</li>
<li>Hoyos Andres</li>
<li>Albert Victor</li>
<li>Sadurny Luca</li>
<li>Villota Eliana</li>
<li>Pelat Nadine</li>
<li>Capiorca Federico Pico</li> 
<li>Couché Célie</li>
<li>George Cyril</li>
<li>Henriquez Armando</li>
<li>Carabali Esau</li>
<li>Ganne Valérie</li>
<li>Douill Loic</li>
<li>Rios Daniel</li>
<li>Benítez Doris</li>
<li>Heredia Ruiz Verónica</li>
<li>Roux Pierre-Yves</li>
<li>Amaide Pierre</li>
<li>Orihuela Benoit</li>
<li>Cuesta Juan Jorge</li>
<li>Miranda Moscoso Ada Gabriela</li>
<li>Léoture Nadia</li>
<li>Durand Paul</li>
<li>Baude Pascal et Annick</li>
<li>Laure David</li>
<li>Pignot Emmanuel</li>
<li>Ung Catherine</li>
<li>Cédat Bruno</li>
<li>Utopieconcrète Samuel</li>
<li>Seguin Olivier</li>
<li>Guillaumont Agnès</li>
<li>Luis Fernando López</li>
<li>Wagner Odile</li>
<li>Jeandidier Bruno</li>
<li>Eslava  Marleida</li>
<li>Ramirez Martinez Maria Marina</li>
<li>Zarzosa Cebrián Alberto</li>
<li>Jouanneau Odile</li>
<li>Durand Jean-Michel</li>
<li>Feugere Leo</li>
<li>Dareths Jean</li>
<li>Michelot Samuel</li>
<li>Espinal Sara</li>
<li>Ramirez Dinelly</li>
<li>Jean Colette</li>
<li>Clot Samuel</li>
<li>Sacha Beyl</li>
<li>Sebti Saad</li>
<li>Duret Vincent</li>
<li>Muñoz Betty</li>
<li>Durand Jean-Marie</li>
<li>Deschamps Lucette</li>
<li>Penil Vonnette</li>
<li>Olliéro Maïlys</li>
<li>cellois23 cellois23</li>
<li>Ménier   Philippine</li>
<li>Charmetant Thibault</li>
<li>Erlich Stefan</li>
<li>Giraldo Rubiela</li>
<li>Guivarch Pierre</li>
<li>Cochet   Gwenvaël</li>
<li>Jean Madeleine</li>
<li>Cramer Xavier</li>
<li>Favier Jean Marc</li>
<li>Guivarch Jaquannie</li>
<li>Le Corre Laurent</li>
<li>Paquignon William</li>
<li>Fiorin  Leandro</li>
<li>Darne   Kevin</li>
<li>Albano María</li>
<li>Ponce Neysa</li>
<li>Leiva Mariana</li>
<li>Jaffré Tristan</li>
<li>Rojas Rosa</li>
<li>Canon Grégoire</li>
<li>Angie Pliego Record</li>
<li>Marrec Stephane</li>
<li>Victoria Escobar</li>
<li>Thomas Patricia</li>
<li>Sanchez Tiphaine</li>
<li>Fernandez Carolina</li>
<li>Cristiá Moira</li>
<li>Piperno Mariana</li>
<li>Sonic Laura</li>
<li>Elen Jaffré</li>
<li>Pauline Kerros</li>
<li>Magrini Ana</li>
<li>Carlos Ramacciotti</li>
<li>Ojeda Carlos</li>

    <% } %>



</div>

<div class="page-btnclose">
</div>

<div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>