<div class="page-topbar">
</div>
<div class="page-logo"></div>
<div class="page-separator"></div>

<div class="page-content">
    
<h2><%= STR.pageTransmediaTitle %></h2>

<% if(lang == "es") {%>
<p>La web-documental interactiva, es el producto más visible, hasta ahora, de todo el trabajo de <strong>Pregoneros de Medellín</strong>. Sin embargo, este no es sino un componente de los muchos que integran este proyecto multidisciplinario. Otras posibiliades comunicativas no virtuales en torno al tema de los Pregoneros, están siendo desarrolladas en paralelo a traves de otras miradas y lenguajes:<p>
     
<p>Cápsulas documentales para televisión, exposiciones itinerantes de fotografía y un proyecto de largo-metraje documental.</p>

<h3>Documental interactivo</h3>

<p class="align-center"><img src="images/page/transmedia/screenshot_webdoc.jpg" class="page-image" alt="Screenshot webdoc"></p>

<p>La idea de trabajar el documental interactivo en el proyecto Pregoneros de Medellín es el resultado de una amistad complementaria: de un lado Thibault Durand,  realizador web, y del otro, Ángela Carabalí, realizadora audiovisual.</p>

<p>Ambos talentosos, y apasionados de la cultura popular, sintonizaron sus saberes y se dejaron seducir por la idea de una narrativa documental alternativa, que si bien, es novedosa en Colombia, se practica mucho en Francia, donde es nativo Thibault.</p>

<p>Qué el espectador sea un co-autor y que participe y construya su propia experiencia documental, fueron las bases de éste reto estético y técnico, donde nada fue fácil, sobretodo el financiamiento.</p>

<p>Trabajo, discusiones, investigación e insomnio en grandes dosis, enmarcaron el proceso de estos visionarios, que lograron embarcar a muchas personas en esta aventura documental innovadora: se escribe de manera no lineal, se concibe principalmente para internet, necesita una escritura específica nutrida por diversos lenguajes, con muchos contenidos multimedia y de naturaleza interactiva… un desafío para estos profesionales complementarios, al que les sobraba rigor, pero les faltaba dinero. </p>

<p>Estímulos y becas permitieron que el sueño se hiciera realidad. 
Con todo el compromiso y el amor con que se hace documental en el mundo, hoy Colombia tiene <strong>la primera web-documental interactiva dedicada a los pregoneros</strong>. 
Vívala es para usted.</p>

<h3>Exposición de fotografía</h3>

<p>La fotografía es una de las expresiones más amadas  del proyecto <strong>Pregoneros de Medellín</strong>, pues fue  la detonante de todo este sueño, cuando muchos años atrás Ángela Carabalí, co-directora del proyecto, se apasionó por retratar vendedores ambulantes en el mundo.</p>

<p>Una exposición con más de 30 fotografías está completamente disponible para rodar por galerías de arte, salas, instituciones educativas  y espacios no convencionales de la ciudad y el país, gracias a la <strong>beca otorgada por Colombia en Fotos.</strong></p>

<p>Con sensibilidad, humor y conmovedora belleza, la serie fotográfica de Pregoneros de Medellín captura, bajo el lente de <strong>Henry Jimenez, Andrés Zea y Angela Carabalí</strong>, los rostros, espacios, pliegues y suspiros de la ciudad y de los vendedores más musicales y poéticos que la habitan. Hoy Medellín tiene un álbum de fotos particular, porque se escucha. </<strong>Son imágenes que literalmente te hablan, o mejor dicho, te cantan.</strong></p>

<p>Con esta exposición, pensada para transitar  la ciudad, nos sintonizamos  con los pregoneros y todos los vendedores ambulantes, y al igual que ellos vamos calle arriba y calle abajo, porque como todos sabemos, caminante no hay camino...</p>


<h3>Cápsulas para TV</h3>

<p>Las cápsulas, o videos cortos, son soportes audiovisuales pensados para televisión. 
<strong>Son “relámpagos” documentales</strong>, donde por más de un minuto y menos de tres,  se le presenta a la teleaudiencia, una muestra corta, eficaz y autónoma de algún pregonero, de una faceta de su vida o del proyecto Pregoneros de Medellín.</p>

<p>Por su formato y medio en el que se difunde, <strong>estas cápsulas documentales son un producto audiovisual Independiente</strong>. Sin embargo, se pretende que al verlas en su televisor, el espectador se motive a visitar la web-documental interactiva para descubrir más contenido y aventurarse a un rol menos pasivo, creando su propia experiencia documental.</p>


<h3>Largometraje</h3>

<p><strong>El material resultante de la investigación y rodaje con los Pregoneros es bastante vasto y diverso</strong>. En los  videos producidos hasta ahora, para televisión y para la web-documental interactiva, hay  solo una muestra selectiva de la riqueza y profundidad con la que los protagonistas afrontan su vida personal y laboral en la ciudad. Anécdotas, rutinas, problemáticas y <strong>un sin número de material sonoro y visual, esperan ser potenciados</strong>, para delicia del espectador, en un largometraje, que de encontrar financiación, podrá echarse a rodar por públicos y espacios más grandes en festivales de Colombia y el mundo entero.</p>

    <% } %>
    <% if(lang == "en") {%>
    <p>Available Soon</p>
    <% } %>
    <% if(lang == "fr") {%>
    <p>Bientôt disponible</p>
    <% } %>
</div>


<div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>

<div class="page-btnclose">
</div>