<div class="page-topbar">
</div>
<div class="page-logo"></div>
<div class="page-separator"></div>

<div class="page-content">
    
<h2><%= STR.pageTransmediaTitle %></h2>

<% if(lang == "fr") {%>

<p>Le web-documentaire interactif est le produit le plus visible de tout le travail de Pregoneros de Medellín. Cependant, celui-ci n’est qu’un élément de ce projet multidisciplinaire. D’autres possibilités non virtuelles autour du thème des crieurs ambulants, sont en développement via d’autres regards et langages : des capsules documentaires pour la télévision, des expositions itinérantes de photographies et un projet de long-métrage documentaire.<p>

<h3>Documentaire interactif</h3>

<p class="align-center"><img src="images/page/transmedia/screenshot_webdoc.jpg" class="page-image" alt="Screenshot webdoc"></p>

<p>L’idée de faire du documentaire interactif dans le projet Pregoneros résulte d’une amitié entre Angela Carabalí, photographe et réalisatrice audiovisuel et Thibault Durand, réalisateur web. Tous les deux passionnés par la culture populaire colombienne, se sont laissés séduire par la narration alternative du web-documentaire, encore méconnu en Colombie.</p>

<p>Que le spectateur soit co-créateur de son expérience documentaire, a été le principal défi esthétique et technique de ce projet. Beaucoup de travail pour ces deux rêveurs, qui petit à petit ont constitué une équipe compétente et motivée, prête à structurer ces documentaires à la façon du web-doc : contenus multimédias à l’esprit interactif, créés pour internet, avec une écriture spécifique non linéaire, nourrie par divers langages.</p>

<p>Des bourses ont permis de faire du projet une réalité, et, avec tout l’engagement et l’amour nécessaire au documentaire, aujourd’hui, le premier web-doc interactif dédié aux vendeurs ambulants et chanteurs de rues voit le jour en Colombie.
Profitez-en ! C’est fait pour vous !</p>

<h3>Exposition de photographie</h3>

<p>La photographie, expression importante de <strong>Pregoneros de Medellín</strong> a déclenché le projet il y a quelques années, quand Ángela Carabalí, co-realisatrice, s’est prise de passion pour les vendeurs ambulants de par le monde.</p>

<p>Une exposition photo avec plus de 30 clichés est disponible pour tourner dans les galeries d’art, les festivals, les centres éducatifs et les espaces alternatifs de Medellín, de Colombie et du monde. Cette partie du projet a été aidée par <strong>Colombia en Fotos</strong>.</p>

<p>Avec sensibilité, humour et une beauté émouvante, la série photographique de Pregoneros de Medellín, capture des visages, des espaces, des rides et des soupirs de la ville ; et des vendeurs les plus musicaux et poétiques qui y habitent.</p>

<p>C’est l’album photo de Medellín Sous les regards de Henry Jiménez, Andrés Zea et Ángela Carabalí les images parlent, ou plutôt chantent !
Avec cette exposition, idée pour parcourir la ville à droite et à gauche, on fait cœur avec les vendeurs et leurs démarches itinérantes.</p>

<h3>Les capsules documentaires</h3>

<p>Les capsules documentaires sont des vidéos courtes, pensées pour être diffusées à la télévision. Ce sont des « eclairs » documentaires, qui durent cinq minutes. Ces vidéos présentent brièvement et efficacement un crieur, une facette de sa vie ou un aspect du projet <strong>Pregoneros de Medellín.</strong></p>

<p>Les capsules sont un produit audiovisuel autonome mais servent aussi à tenter le téléspectateur vers une exploration du web-documentaire et la recherche de plus de contenu, pour nourrir sa découverte par un rôle plus participatif.</p>


<h3>Long-métrage</h3>

<p>Le matériel audiovisuel résultant du tournage avec les crieurs est large et divers. Les  vidéos produites jusqu’à présent, pour la télévision et le web-documentaire, font partie d’une sélection représentative. Beaucoup d’autres contenus sur la vie des crieurs, leur travail et leurs problèmes quotidiens, leurs anecdotes et leurs témoignages attendent d’être exploités dans un long-métrage documentaire. Le projet en recherche de financement pour la post-production pourrait parcourir d’autres espaces et conquérir d’autres publics comme par exemple celui des festivals de cinéma.</p>

    <% } %>
    <% if(lang == "en") {%>

<p>The interactive web documentary is the most visible product, until now, of all the work of <strong>Pregoneros de Medellín</strong>. However, this is just one component of many that make up this multidisciplinary project. Other non-virtual communication possibilities around the criers theme are being developed in parallel, through other perspectives and languages:<p>
     
<p>Documentary capsules for television, itinerant photography exhibitions, and a feature-length documentary.</p>

<h3>Interactive documentary</h3>

<p class="align-center"><img src="images/page/transmedia/screenshot_webdoc.jpg" class="page-image" alt="Screenshot webdoc"></p>

<p>Both talented, and passionate about popular culture, they tuned their knowledge and were seduced by the idea of an alternative documentary narrative, which, although it is novel in Colombia, is widely practiced in France, Thibault’s homeland.</p>

<p>The basis of this aesthetic and technical challenge is the viewers’ role as co-authors whom participate and build their own documentary experience, which was not an easy task, especially to finance.</p>

<p>Qué el espectador sea un co-autor y que participe y construya su propia experiencia documental, fueron las bases de éste reto estético y técnico, donde nada fue fácil, sobretodo el financiamiento.</p>

<p>Work, discussions, research and insomnia in large doses, framed these visionaries’ process, in which they managed to ship many people in this innovative documentary adventure: it is written in a nonlinear fashion, mainly conceived for the internet, and it needs a specific writing nourished by various languages, with many multimedia content of interactive nature ... a challenge for these complementary professionals, who had plenty of rigor, but lacked money.</p>

<p>With all the commitment and love that involves making documentary films around the world, today Colombia has the first interactive web-documentary dedicated to criers. Live it, it’s for you.</p>

<h3>Photography Exhibition</h3>

<p>Photography is one of the most beloved expressions of <strong>Pregoneros de Medellín</strong>, because it was the trigger for all this dream, when many years ago Angela Carabalí, co-director of the project, developed a passion for portraying street vendors around the world..</p>

<p>An exhibition with more than 30 photographs is fully available to rotate through art galleries, halls, educational institutions, and unconventional spaces of the city and the country, thanks to the grant given by <i>Colombia en Fotos</i> (Colombia in Photos).</p>

<p>With sensitivity, humor and poignant beauty, the lenses of Henry Jiménez, Andrés Zea and Angela Carabalí captured the photographic series for <i>Pregoneros de Medellín</i>: Faces, spaces, folds and sighs of the city and of the most musical and poetic vendors that inhabit it. Today Medellín has a special photo album, because you can hear it. They are images that literally speak, or rather, sing to you.</p>

<p>With this exhibition, which is intended to transit the city, we tune in with all the street vendors and criers, and, just like them, we go up and down the street because, as we all know, wanderers have no path...</p>


<h3>Capsules for TV</h3>

<p>The capsules, or short videos, are audiovisual media designed for television.
They are <strong>documentary "lightning"</strong>, where for five minutes, the audience is introduced to a short, effective and independent sample of one of the criers, a facet of their life or of the <i>Pregoneros de Medellín</i> project.</p>

<p>Due to their format and medium of diffusion, these documentary capsules are an <strong>independent audiovisual</strong> product. However, it is intended that by watching them on their television, viewers are motivated to visit the interactive web documentary to find more content and venture to a less passive role, creating their own documentary experience..</p>


<h3>Feature length documentary</h3>

<p><strong>The material resulting from the research and filming with the criers is quite vast and diverse</strong>. The videos produced so far, for television and the interactive web documentary, are just a selective sample of the richness and depth with which the protagonists face their personal and working lives in the city. Anecdotes, routines, problems and endless audio and visual material, are waiting to be included, for the viewers’ delight, in a full length film, which, given that it finds financing, will be able to reach larger publics and spaces in Colombian and international festivals..</p>

    <% } %>
    <% if(lang == "es") {%>
    
<p>La web-documental interactiva, es el producto más visible, hasta ahora, de todo el trabajo de <strong>Pregoneros de Medellín</strong>. Sin embargo, este no es sino un componente de los muchos que integran este proyecto multidisciplinario. Otras posibiliades comunicativas no virtuales en torno al tema de los Pregoneros, están siendo desarrolladas en paralelo a traves de otras miradas y lenguajes:<p>
     
<p>Cápsulas documentales para televisión, exposiciones itinerantes de fotografía y un proyecto de largo-metraje documental.</p>

<h3>Documental interactivo</h3>

<p class="align-center"><img src="images/page/transmedia/screenshot_webdoc.jpg" class="page-image" alt="Screenshot webdoc"></p>

<p>La idea de trabajar el documental interactivo en el proyecto Pregoneros de Medellín es el resultado de una amistad complementaria: de un lado Thibault Durand,  realizador web, y del otro, Ángela Carabalí, realizadora audiovisual.</p>

<p>Ambos talentosos, y apasionados de la cultura popular, sintonizaron sus saberes y se dejaron seducir por la idea de una narrativa documental alternativa, que si bien, es novedosa en Colombia, se practica mucho en Francia, donde es nativo Thibault.</p>

<p>Qué el espectador sea un co-autor y que participe y construya su propia experiencia documental, fueron las bases de éste reto estético y técnico, donde nada fue fácil, sobretodo el financiamiento.</p>

<p>Trabajo, discusiones, investigación e insomnio en grandes dosis, enmarcaron el proceso de estos visionarios, que lograron embarcar a muchas personas en esta aventura documental innovadora: se escribe de manera no lineal, se concibe principalmente para internet, necesita una escritura específica nutrida por diversos lenguajes, con muchos contenidos multimedia y de naturaleza interactiva… un desafío para estos profesionales complementarios, al que les sobraba rigor, pero les faltaba dinero. </p>

<p>Estímulos y becas permitieron que el sueño se hiciera realidad. 
Con todo el compromiso y el amor con que se hace documental en el mundo, hoy Colombia tiene <strong>la primera web-documental interactiva dedicada a los pregoneros</strong>. 
Vívala es para usted.</p>

<h3>Exposición de fotografía</h3>

<p>La fotografía es una de las expresiones más amadas  del proyecto <strong>Pregoneros de Medellín</strong>, pues fue  la detonante de todo este sueño, cuando muchos años atrás Ángela Carabalí, co-directora del proyecto, se apasionó por retratar vendedores ambulantes en el mundo.</p>

<p>Una exposición con más de 30 fotografías está completamente disponible para rodar por galerías de arte, salas, instituciones educativas  y espacios no convencionales de la ciudad y el país, gracias a la <strong>beca otorgada por Colombia en Fotos.</strong></p>

<p>Con sensibilidad, humor y conmovedora belleza, la serie fotográfica de Pregoneros de Medellín captura, bajo el lente de <strong>Henry Jimenez, Andrés Zea y Angela Carabalí</strong>, los rostros, espacios, pliegues y suspiros de la ciudad y de los vendedores más musicales y poéticos que la habitan. Hoy Medellín tiene un álbum de fotos particular, porque se escucha. </<strong>Son imágenes que literalmente te hablan, o mejor dicho, te cantan.</strong></p>

<p>Con esta exposición, pensada para transitar  la ciudad, nos sintonizamos  con los pregoneros y todos los vendedores ambulantes, y al igual que ellos vamos calle arriba y calle abajo, porque como todos sabemos, caminante no hay camino...</p>


<h3>Cápsulas para TV</h3>

<p>Las cápsulas, o videos cortos, son soportes audiovisuales pensados para televisión. 
<strong>Son “relámpagos” documentales</strong>, donde por cinco minutos,  se le presenta a la teleaudiencia, una muestra corta, eficaz y autónoma de algún pregonero, de una faceta de su vida o del proyecto Pregoneros de Medellín.</p>

<p>Por su formato y medio en el que se difunde, <strong>estas cápsulas documentales son un producto audiovisual Independiente</strong>. Sin embargo, se pretende que al verlas en su televisor, el espectador se motive a visitar la web-documental interactiva para descubrir más contenido y aventurarse a un rol menos pasivo, creando su propia experiencia documental.</p>


<h3>Largometraje</h3>

<p><strong>El material resultante de la investigación y rodaje con los Pregoneros es bastante vasto y diverso</strong>. En los  videos producidos hasta ahora, para televisión y para la web-documental interactiva, hay  solo una muestra selectiva de la riqueza y profundidad con la que los protagonistas afrontan su vida personal y laboral en la ciudad. Anécdotas, rutinas, problemáticas y <strong>un sin número de material sonoro y visual, esperan ser potenciados</strong>, para delicia del espectador, en un largometraje, que de encontrar financiación, podrá echarse a rodar por públicos y espacios más grandes en festivales de Colombia y el mundo entero.</p>



    <% } %>
</div>


<div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>

<div class="page-btnclose">
</div>