/* line 3, ../../sass/module/btn.scss */
.btn {
  opacity: 1;
}

/* line 7, ../../sass/module/btn.scss */
.btn:active {
  opacity: 0.8;
}

/* line 11, ../../sass/module/btn.scss */
.btn-primary {
  color: #fff;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  background-color: #00A99D;
}

/* line 26, ../../sass/module/btn.scss */
.btn-secondary {
  color: black;
  border-radius: 1rem;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-decoration: none;
  -moz-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.75);
  background-color: #efe7e7;
}
