/* line 14, ../../../../../../../../Users/tdurand/.rvm/gems/ruby-2.1.3/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../sass/module/landing.scss */
.main {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-image: url("../../images/texture_full_hq.jpg");
  background-size: cover;
  height: 70%;
  position: relative;
  z-index: 1;
}

/* line 16, ../../sass/module/landing.scss */
.top {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 25%;
  position: relative;
  z-index: 30;
}
/* line 24, ../../sass/module/landing.scss */
.top .logo-bar {
  height: 50%;
  position: absolute;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: white;
}
/* line 30, ../../sass/module/landing.scss */
.top .logo-bar svg {
  height: 100%;
  position: absolute;
  left: 50%;
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
/* line 38, ../../sass/module/landing.scss */
.top .wrap-top-bar {
  position: absolute;
  height: 50%;
  top: 50%;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: rgba(189, 117, 15, 0.6);
}
/* line 47, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar {
  position: absolute;
  height: 80%;
  top: 0%;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  background-color: #00937A;
  opacity: 1;
}
/* line 57, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .share-btn {
  width: 5%;
  position: absolute;
  right: 2%;
  top: 15%;
  height: 70%;
}
/* line 64, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .share-btn svg {
  height: 100%;
  position: absolute;
  right: 0;
}
/* line 69, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .share-btn svg .btn-share {
  cursor: pointer;
}
/* line 75, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .menu {
  font-family: "FilbertBrush";
  font-size: 1.3rem;
  font-variant: small-caps;
  color: white;
  margin-left: 2%;
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 86, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .menu .language-selection {
  background-color: transparent;
}
/* line 90, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .menu a {
  cursor: pointer;
  color: white;
}
/* line 95, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .menu a:visited, .top .wrap-top-bar .top-bar .menu a:active, .top .wrap-top-bar .top-bar .menu a:link {
  color: white;
}
/* line 99, ../../sass/module/landing.scss */
.top .wrap-top-bar .top-bar .menu .menu-btnlogin {
  text-decoration: underline;
}

/* line 109, ../../sass/module/landing.scss */
.middle {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 75%;
  position: relative;
}
/* line 115, ../../sass/module/landing.scss */
.middle .logo {
  width: 32.20339%;
  float: left;
  margin-left: 8.47458%;
  margin-right: -100%;
  height: 100%;
  background-image: url("../../images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
/* line 125, ../../sass/module/landing.scss */
.middle .laurels {
  width: 50%;
  position: absolute;
  bottom: 0px;
  left: 10px;
  z-index: 30;
  text-align: center;
}
/* line 133, ../../sass/module/landing.scss */
.middle .laurels .laurels-img {
  max-width: 100%;
  max-height: 120px;
}
/* line 139, ../../sass/module/landing.scss */
.middle .description {
  height: 120%;
  position: absolute;
  bottom: 0;
  z-index: 26;
  border-style: solid;
  -moz-border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;
  -o-border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;
  -webkit-border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;
  border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;
  width: 57.62712%;
  float: left;
  margin-left: 42.37288%;
  margin-right: -100%;
  border-width: 111px 214px 0px 297px;
}
@media screen and (max-width: 1400px) {
  /* line 155, ../../sass/module/landing.scss */
  .middle .description {
    width: 57.62712%;
    float: left;
    margin-left: 42.37288%;
    margin-right: -100%;
    border-width: 60px 130px 0px 130px;
  }
}
/* line 161, ../../sass/module/landing.scss */
.middle .description .description-text {
  font-family: "FilbertBrush";
  font-size: 1.2rem;
  text-align: center;
  color: #4A2246;
}
/* line 167, ../../sass/module/landing.scss */
.middle .description .description-text p {
  margin: 1em 0px;
}
/* line 173, ../../sass/module/landing.scss */
.middle .description .description-btnenter img {
  position: absolute;
  bottom: 5%;
  max-height: 25%;
  z-index: 25;
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  left: 50%;
}
/* line 182, ../../sass/module/landing.scss */
.middle .description .description-btnenter .description-btnenter-btnsecondary {
  position: absolute;
  bottom: -5%;
  width: 100%;
  text-align: center;
}
/* line 188, ../../sass/module/landing.scss */
.middle .description .description-btnenter .description-btnenter-btnsecondary a {
  color: #4A2246;
}
/* line 196, ../../sass/module/landing.scss */
.middle .separator {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  position: absolute;
  bottom: -12.5%;
  z-index: 20;
  height: 30%;
  background-image: url("../../images/separator_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 211, ../../sass/module/landing.scss */
.landingpage-video-frame {
  height: 100%;
  width: 100%;
  z-index: -1;
  background-image: url("../../images/landing-video-firstframe.jpg");
  background-size: 100% 100%;
  position: absolute;
  bottom: 0;
  top: 0;
  right: 0;
}

/* line 225, ../../sass/module/landing.scss */
.landingpage-video {
  height: 0;
  width: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -5;
}
/* line 235, ../../sass/module/landing.scss */
.landingpage-video .video-js {
  bottom: 0px;
  position: absolute;
}

/* line 242, ../../sass/module/landing.scss */
#index .toggle-sounds {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 2.5rem;
  height: 2.5rem;
  z-index: 200;
  cursor: pointer;
}
/* line 253, ../../sass/module/landing.scss */
#index .toggle-sounds[data-state="muted"] {
  background-image: url("../../images/mutesound.svg");
}
/* line 257, ../../sass/module/landing.scss */
#index .toggle-sounds[data-state="normal"] {
  background-image: url("../../images/unmutesound.svg");
}

/* line 265, ../../sass/module/landing.scss */
#mobile .video-js {
  width: 100% !important;
  height: 100% !important;
}
