/* line 5, ../../sass/module/loading.scss */
.streetwalk-loading {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 16;
}
/* line 13, ../../sass/module/loading.scss */
.streetwalk-loading.firstway {
  background-image: url("../../images/loadingbackground.jpg");
  background-size: cover;
}
/* line 17, ../../sass/module/loading.scss */
.streetwalk-loading.firstway .streetwalk-loading-main {
  height: 80%;
}
/* line 22, ../../sass/module/loading.scss */
.streetwalk-loading.firstway .streetwalk-loading-bottom {
  height: 20%;
  background-color: #00937A;
  position: relative;
}
/* line 27, ../../sass/module/loading.scss */
.streetwalk-loading.firstway .streetwalk-loading-bottom .separator {
  position: absolute;
  top: -40%;
  height: 70%;
  width: 100%;
  background-image: url("../../images/separator_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}

/* line 44, ../../sass/module/loading.scss */
.streetwalk-loading-simple {
  position: absolute;
  width: 30%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

@-webkit-keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-moz-keyframes opacity {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* line 62, ../../sass/module/loading.scss */
.streetwalk-loading-text {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 70, ../../sass/module/loading.scss */
.streetwalk-loading-text .loading-text {
  font-family: "FilbertBrush";
  font-size: 1.3rem;
  text-align: center;
  color: #FFFFFF;
  margin: 1rem;
}
/* line 78, ../../sass/module/loading.scss */
.streetwalk-loading-text .loading-text .dot {
  -webkit-animation-name: opacity;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: opacity;
  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: infinite;
}
/* line 88, ../../sass/module/loading.scss */
.streetwalk-loading-text .loading-text .dot:nth-child(2) {
  -webkit-animation-delay: 100ms;
  -moz-animation-delay: 100ms;
}
/* line 93, ../../sass/module/loading.scss */
.streetwalk-loading-text .loading-text .dot:nth-child(3) {
  -webkit-animation-delay: 300ms;
  -moz-animation-delay: 300ms;
}
/* line 98, ../../sass/module/loading.scss */
.streetwalk-loading-text .headset {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -75%);
  -ms-transform: translate(-50%, -75%);
  -webkit-transform: translate(-50%, -75%);
  transform: translate(-50%, -75%);
}

/* line 108, ../../sass/module/loading.scss */
.streetwalk-loading-bottom .laurels {
  width: 100%;
  height: 100%;
}
/* line 112, ../../sass/module/loading.scss */
.streetwalk-loading-bottom .laurels .laurels-img {
  max-width: 100%;
  max-height: 70%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
