/* line 14, ../../../../../../.rvm/gems/ruby-2.1.3/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../sass/module/streetwalk.scss */
.menu-separator {
  font-family: Arial !important;
  font-weight: bold;
}

/* line 9, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #FFD64A;
  height: 5%;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  color: #4B2246;
  font-size: 1.1rem;
  font-variant: small-caps;
}
/* line 21, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom .streetwalk-menubottom-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2%;
}
/* line 28, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom.open {
  z-index: 21;
}
/* line 32, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom .language-selection {
  background-color: transparent;
}
/* line 36, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom a {
  cursor: pointer;
}
/* line 40, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom a:visited {
  color: #4B2246;
}

/* line 45, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 10%;
  -webkit-transition: 0.5s ease-out;
  opacity: 1;
  transform: translateY(90%);
  background-color: #FFD64A;
  z-index: 20;
}
/* line 58, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-bottombar-separator {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  position: absolute;
  top: -60%;
  z-index: 1;
  background-image: url("../../images/separator_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 71, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-btnmenu-wrapper {
  position: absolute;
  top: 100%;
  right: 0%;
  -webkit-transition: 0.5s ease-out;
  transform: translate(0%, -110%);
  z-index: 10;
}
/* line 81, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-btnmenu-wrapper button {
  color: #fff;
  border-radius: 0rem 1rem 1rem 0rem;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 0.7rem;
  text-decoration: none;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: #AD482A;
}
/* line 95, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control {
  position: absolute;
  bottom: 20px;
  right: 20px;
  z-index: 21;
}
/* line 101, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-sounds {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
/* line 107, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-sounds[data-state="muted"] {
  background-image: url("../../images/mutesound.svg");
}
/* line 111, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-sounds[data-state="normal"] {
  background-image: url("../../images/unmutesound.svg");
}
/* line 118, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map {
  position: absolute;
  z-index: 30;
  transform: translateY(-25%);
  -webkit-transition: 0.5s ease-out;
  bottom: 30%;
  left: -2%;
  height: 320%;
  width: 10%;
  border-style: solid;
  border-width: 39px 167px 0px 89px;
  -moz-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  -webkit-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  -o-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  border-image: url("../../images/mapborder.png") 39 167 63 89 fill stretch;
  background-color: transparent;
}
/* line 126, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map.enlarged {
  transform: translateY(-12%);
}
/* line 145, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map .streetwalk-mapcontainer {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 30;
  box-shadow: 5px 5px 20px #a08a1c;
}
/* line 156, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters {
  position: absolute;
  z-index: 2;
  top: -30%;
  right: 70px;
  height: 120%;
}
/* line 163, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter {
  height: 400%;
  position: absolute;
  width: 40%;
  left: -20%;
  bottom: -50%;
}
/* line 170, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter object {
  height: 100%;
  width: 100%;
}
/* line 177, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu[data-state='open'] {
  display: block;
}
/* line 181, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu[data-state='closed'] {
  display: none;
}
/* line 186, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-locked {
  opacity: 0.9;
}
/* line 194, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-unlocked[data-state='locked'] .label {
  display: none;
}
/* line 201, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-unlocked[data-state='unlocked'] .label {
  display: block;
}
/* line 207, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character, .streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu g {
  cursor: pointer;
}
/* line 212, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='jale'] {
  z-index: 10;
}
/* line 216, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='pajarito'] {
  left: -2%;
  z-index: 9;
  width: 44%;
  bottom: -39%;
}
/* line 223, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='lider'] {
  left: 16%;
  z-index: 8;
  width: 44%;
  bottom: -45%;
}
/* line 230, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='gaucho'] {
  left: 34%;
  z-index: 7;
  width: 44%;
  bottom: -42%;
}
/* line 237, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='papavanegas'] {
  left: 56%;
  z-index: 6;
  width: 44%;
  bottom: -42%;
}
/* line 244, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-state='open'] {
  z-index: 10;
}
/* line 249, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character:active {
  opacity: 0.8 !important;
}
/* line 253, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu g:active {
  opacity: 0.8 !important;
}

/* line 262, ../../sass/module/streetwalk.scss */
.streetwalk-video {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1000000000;
}
/* line 270, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-container {
  height: 100%;
  width: 100%;
}
/* line 275, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-btnclose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/closebtn.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 288, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 298, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 14;
}
/* line 305, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container {
  width: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  position: absolute;
  z-index: 10;
}
/* line 313, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container svg {
  width: 100%;
  height: 100%;
}
/* line 319, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .character-sign {
  cursor: pointer;
}
/* line 323, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .character-sign:active {
  opacity: 0.5;
}
/* line 327, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .mask-character {
  width: 200px;
  height: 200px;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
/* line 341, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter:active .character-sign {
  opacity: 0.5;
}

/* line 348, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway {
  width: 35%;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 359, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway svg {
  width: 100%;
}

/* line 364, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}
/* line 372, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper .streetwalk-tutorial {
  height: 55%;
  width: 100%;
  position: absolute;
  bottom: 15%;
}
/* line 379, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper .streetwalk-tutorial-scrollotherside-tooltip {
  display: none;
  width: 25%;
  margin: 0 auto;
  background-image: url("../../images/2908339CE58A15BD.png");
  background-size: contain;
  background-position: 50% 50%;
  background-repeat: no-repeat;
}
/* line 390, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper svg {
  width: 100%;
  height: 100%;
}

/* line 396, ../../sass/module/streetwalk.scss */
.streetwalk-progress, .streetwalk-area {
  position: fixed;
  z-index: 5;
  height: 15%;
}
@media screen and (min-width: 1400px) {
  /* line 404, ../../sass/module/streetwalk.scss */
  .streetwalk-progress, .streetwalk-area {
    height: 12%;
  }
}
/* line 409, ../../sass/module/streetwalk.scss */
.streetwalk-progress svg, .streetwalk-area svg {
  height: 100%;
}

/* line 414, ../../sass/module/streetwalk.scss */
.streetwalk-progress {
  top: 0px;
  left: 20px;
}

/* line 418, ../../sass/module/streetwalk.scss */
.streetwalk-area {
  top: 0px;
  right: 20px;
}

/* line 424, ../../sass/module/streetwalk.scss */
.streetwalk-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 433, ../../sass/module/streetwalk.scss */
.streetwalk-title .logo {
  height: 30%;
  min-width: 320px;
  max-width: 600px;
  max-height: 30%;
}
/* line 440, ../../sass/module/streetwalk.scss */
.streetwalk-title .description {
  color: white;
  width: 100%;
  min-width: 320px;
  max-width: 700px;
  max-height: 30%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 449, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
  /* line 456, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 70%;
  }
}
@media screen and (min-width: 1300px) {
  /* line 462, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 50%;
  }
}
/* line 469, ../../sass/module/streetwalk.scss */
.streetwalk-title .description h2 {
  margin: 1em;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
/* line 475, ../../sass/module/streetwalk.scss */
.streetwalk-title .description p {
  font-size: 1.5rem;
}
/* line 480, ../../sass/module/streetwalk.scss */
.streetwalk-title .scrolltostart {
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 487, ../../sass/module/streetwalk.scss */
.streetwalk-title .scrolltostart img, .streetwalk-title .scrolltostart svg {
  height: 100%;
}
/* line 492, ../../sass/module/streetwalk.scss */
.streetwalk-title #scrollToStartLoaded {
  display: none;
}

/* line 499, ../../sass/module/streetwalk.scss */
.streetwalkImg, .element-fixed, .blurImg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 509, ../../sass/module/streetwalk.scss */
.trame-video {
  background: url("../../images/trame-video.png") repeat;
  height: 100%;
  position: fixed;
  width: 100%;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  opacity: 1;
}

/* line 520, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: black;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 534, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay.step1 {
  background: -webkit-radial-gradient(65% 60%, circle closest-corner, transparent 0, black 50%);
}
/* line 538, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay.step2 {
  opacity: 0.4;
  z-index: 5;
}
/* line 544, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay.step3 {
  opacity: 0.4;
  z-index: 5;
}

/* line 557, ../../sass/module/streetwalk.scss */
.streetwalk-sign {
  transform: translateY(-85%);
  -webkit-transition: 0.5s ease-out;
  opacity: 0.2;
}

/* line 563, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom {
  transform: translateY(90%);
}

/* line 569, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-bottombar {
  -webkit-transition: 0.5s ease-out;
  opacity: 1;
  transform: translateY(0%);
}
/* line 574, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-bottombar .streetwalk-map {
  transform: translateY(0%);
  -webkit-transition: 0.5s ease-out;
}
/* line 578, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-bottombar .streetwalk-map .enlarged {
  transform: translateY(0%);
}
/* line 584, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-menubottom {
  transform: translateY(0%);
  -webkit-transition: 0.5s ease-out;
}
/* line 589, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-btnmenu-wrapper {
  -webkit-transition: 0.5s ease-out;
  transform: translate(95%, -110%);
}
/* line 594, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-sign {
  transform: translateY(0%);
  -webkit-transition: 0.5s ease-out;
  opacity: 1;
}
