/* line 14, ../../../../../../.rvm/gems/ruby-2.1.3/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../sass/module/streetwalk.scss */
.menu-separator {
  font-family: Arial !important;
  font-weight: bold;
}

/* line 9, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom {
  position: fixed;
  bottom: 0;
  z-index: 10;
  background-color: #FFD64A;
  height: 5%;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  color: #4B2246;
  font-size: 1.1rem;
  font-variant: small-caps;
  transform: translateY(90%);
  -webkit-transition: 0.5s ease-out;
}
/* line 24, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom .streetwalk-menubottom-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  margin-left: 2%;
}
/* line 31, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom.open {
  z-index: 21;
}
/* line 35, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom .language-selection {
  background-color: transparent;
}
/* line 39, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom a {
  cursor: pointer;
}
/* line 43, ../../sass/module/streetwalk.scss */
.streetwalk-menubottom a:visited {
  color: #4B2246;
}

/* line 48, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 10%;
  -webkit-transition: 0.5s ease-out;
  opacity: 1;
  transform: translateY(90%);
  background-color: #FFD64A;
  z-index: 20;
}
/* line 61, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-bottombar-separator {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  position: absolute;
  top: -60%;
  z-index: 1;
  background-image: url("../../images/separator_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 74, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-btnmenu-wrapper {
  position: absolute;
  top: 100%;
  right: 0%;
  -webkit-transition: 0.5s ease-out;
  transform: translate(0%, -110%);
  z-index: 10;
}
/* line 84, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-btnmenu-wrapper button {
  color: #fff;
  border-radius: 0rem 1rem 1rem 0rem;
  border: none;
  font-size: 1.2rem;
  padding: 0.3rem;
  padding-left: 1rem;
  padding-right: 0.7rem;
  text-decoration: none;
  -webkit-box-shadow: 3px 3px 3px 0px rgba(0, 0, 0, 0.75);
  background-color: #AD482A;
}
/* line 98, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control {
  position: absolute;
  bottom: 5px;
  right: 5px;
  z-index: 21;
  height: 120%;
  width: 6%;
}
/* line 107, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-sounds {
  height: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 5%;
}
/* line 114, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-sounds[data-state="muted"] {
  background-image: url("../../images/mutesound.svg");
}
/* line 118, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-sounds[data-state="normal"] {
  background-image: url("../../images/unmutesound.svg");
}
/* line 126, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-fullscreen {
  height: 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
/* line 133, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-fullscreen[data-state="fullscreen"] {
  background-image: url("../../images/leavefullscreen.svg");
}
/* line 137, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-control .toggle-fullscreen[data-state="normal"] {
  background-image: url("../../images/fullscreen.svg");
}
/* line 144, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map {
  position: absolute;
  z-index: 30;
  transform: translateY(-25%);
  -webkit-transition: 0.5s ease-out;
  bottom: 30%;
  left: -2%;
  height: 320%;
  width: 10%;
  border-style: solid;
  border-width: 39px 167px 0px 89px;
  -moz-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  -webkit-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  -o-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  border-image: url("../../images/mapborder.png") 39 167 63 89 fill stretch;
  background-color: transparent;
}
/* line 152, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map.enlarged {
  transform: translateY(-12%);
}
/* line 155, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map.enlarged .streetwalk-map-btnfullscreen {
  background-image: url("../../images/closebtn-black.svg");
}
/* line 159, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map.enlarged .character-icon {
  width: 30px !important;
  height: 30px !important;
}
/* line 166, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map .map-path-way.highlight {
  stroke: red !important;
}
/* line 186, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map .streetwalk-mapcontainer {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  z-index: 30;
  box-shadow: 5px 5px 20px #a08a1c;
}
/* line 196, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map .streetwalk-map-btnfullscreen {
  position: absolute;
  top: 28px;
  left: 2px;
  transform: translate(0%, -110%);
  z-index: 40;
  cursor: pointer;
  width: 26px;
  height: 26px;
  border: 1px solid #999;
  border-radius: 3px;
  background: #fff url("../../images/map/magnifier.svg") no-repeat 0 0;
  background-size: contain;
}
/* line 220, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters {
  position: absolute;
  z-index: 30;
  top: -30%;
  right: 70px;
  height: 120%;
}
/* line 227, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter {
  height: 400%;
  position: absolute;
  width: 40%;
  left: -20%;
  bottom: -50%;
}
/* line 234, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter object {
  height: 100%;
  width: 100%;
}
/* line 241, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu[data-state='open'] {
  display: block;
}
/* line 245, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu[data-state='closed'] {
  display: none;
}
/* line 250, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-locked {
  opacity: 0.9;
}
/* line 258, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-unlocked[data-state='locked'] .label {
  display: none;
}
/* line 265, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-unlocked[data-state='unlocked'] .label {
  display: block;
}
/* line 271, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character, .streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu g {
  cursor: pointer;
}
/* line 276, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='jale'] {
  z-index: 10;
}
/* line 280, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='pajarito'] {
  left: -2%;
  z-index: 9;
  width: 44%;
  bottom: -39%;
}
/* line 287, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='lider'] {
  left: 16%;
  z-index: 8;
  width: 44%;
  bottom: -45%;
}
/* line 294, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='gaucho'] {
  left: 34%;
  z-index: 7;
  width: 44%;
  bottom: -42%;
}
/* line 301, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='papavanegas'] {
  left: 56%;
  z-index: 6;
  width: 44%;
  bottom: -42%;
}
/* line 308, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-state='open'] {
  z-index: 10;
}
/* line 313, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character:active {
  opacity: 0.8 !important;
}
/* line 317, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu g:active {
  opacity: 0.8 !important;
}

/* line 326, ../../sass/module/streetwalk.scss */
.streetwalk-video {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
  z-index: 1000000000;
}
/* line 334, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-container {
  height: 100%;
  width: 100%;
  background-color: black;
}
/* line 340, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-container .video-js {
  height: 100% !important;
  width: 100% !important;
}
/* line 346, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-btnclose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/closebtn.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 359, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway-wrapper {
  position: fixed;
  width: 35%;
  z-index: 25;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 374, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter {
  position: fixed;
  width: 0;
  height: 0;
  z-index: 15;
}
/* line 380, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container {
  width: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  position: absolute;
  z-index: 10;
}
/* line 388, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container svg {
  width: 100%;
  height: 100%;
}
/* line 394, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .character-sign {
  cursor: pointer;
}
/* line 398, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .character-sign:active {
  opacity: 0.5;
}
/* line 402, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .mask-character {
  width: 200px;
  height: 200px;
  transform: translate(-50%, 0%);
  -webkit-transform: translate(-50%, 0%);
  -moz-transform: translate(-50%, 0%);
  -ms-transform: translate(-50%, 0%);
  -o-transform: translate(-50%, 0%);
  transform: translate(-50%, 0%);
}
/* line 416, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter:active .character-sign {
  opacity: 0.5;
}

/* line 423, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway {
  width: 100%;
  height: 100%;
}
/* line 427, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway svg {
  width: 100%;
}

/* line 432, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  top: 0;
  z-index: 4;
}
/* line 440, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper .streetwalk-tutorial {
  height: 55%;
  width: 100%;
  position: absolute;
  bottom: 15%;
}
/* line 447, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper .streetwalk-tutorial-scrollotherside-tooltip {
  display: none;
  width: 25%;
  margin: 0 auto;
}
/* line 453, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-wrapper svg {
  width: 100%;
  height: 100%;
}

/* line 459, ../../sass/module/streetwalk.scss */
.streetwalk-progress, .streetwalk-area {
  position: fixed;
  z-index: 5;
  height: 15%;
}
@media screen and (min-width: 1400px) {
  /* line 467, ../../sass/module/streetwalk.scss */
  .streetwalk-progress, .streetwalk-area {
    height: 12%;
  }
}
/* line 472, ../../sass/module/streetwalk.scss */
.streetwalk-progress svg, .streetwalk-area svg {
  height: 100%;
}

/* line 477, ../../sass/module/streetwalk.scss */
.streetwalk-progress {
  top: 0px;
  left: 20px;
}

/* line 481, ../../sass/module/streetwalk.scss */
.streetwalk-area {
  top: 0px;
  right: 20px;
}

/* line 487, ../../sass/module/streetwalk.scss */
.streetwalk-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 496, ../../sass/module/streetwalk.scss */
.streetwalk-title .logo {
  height: 30%;
  min-width: 320px;
  max-width: 600px;
  max-height: 30%;
}
/* line 503, ../../sass/module/streetwalk.scss */
.streetwalk-title .description {
  color: white;
  width: 100%;
  min-width: 320px;
  max-width: 700px;
  max-height: 30%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 512, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
  /* line 519, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 70%;
  }
}
@media screen and (min-width: 1300px) {
  /* line 525, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 50%;
  }
}
/* line 532, ../../sass/module/streetwalk.scss */
.streetwalk-title .description h2 {
  margin: 1em;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
/* line 538, ../../sass/module/streetwalk.scss */
.streetwalk-title .description p {
  font-size: 1.5rem;
}
/* line 543, ../../sass/module/streetwalk.scss */
.streetwalk-title .scrolltostart {
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 550, ../../sass/module/streetwalk.scss */
.streetwalk-title .scrolltostart img, .streetwalk-title .scrolltostart svg {
  height: 100%;
}
/* line 555, ../../sass/module/streetwalk.scss */
.streetwalk-title #scrollToStartLoaded {
  display: none;
}

/* line 562, ../../sass/module/streetwalk.scss */
.streetwalkImg, .element-fixed, .blurImg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 572, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: black;
  opacity: 0.5;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
/* line 586, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay.step1 {
  background: -webkit-radial-gradient(65% 60%, circle closest-corner, transparent 0, black 50%);
}
/* line 590, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay.step2 {
  opacity: 0.4;
  z-index: 5;
}
/* line 596, ../../sass/module/streetwalk.scss */
.streetwalk-tutorial-overlay.step3 {
  opacity: 0.4;
  z-index: 5;
}

/* line 609, ../../sass/module/streetwalk.scss */
.streetwalk-sign {
  transform: translateY(-85%);
  -webkit-transition: 0.5s ease-out;
  opacity: 0.2;
}

/* line 615, ../../sass/module/streetwalk.scss */
.streetwalk-syncing {
  position: fixed;
  top: 0px;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #FFD64A;
  border: 2px solid #4B2246;
  border-top: none;
  border-radius: 5px;
  padding: 1em;
  color: #4b2246;
  -webkit-transition: 1s ease-out;
}
/* line 631, ../../sass/module/streetwalk.scss */
.streetwalk-syncing.syncinginprogress {
  -webkit-transition: 1s ease-out;
  transform: translate(-50%, 0%);
}

/* line 639, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-bottombar {
  -webkit-transition: 0.5s ease-out;
  opacity: 1;
  transform: translateY(0%);
}
/* line 644, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-bottombar .streetwalk-map {
  transform: translateY(0%);
  -webkit-transition: 0.5s ease-out;
}
/* line 648, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-bottombar .streetwalk-map .enlarged {
  transform: translateY(0%);
}
/* line 654, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-menubottom {
  transform: translateY(0%);
  -webkit-transition: 0.5s ease-out;
}
/* line 659, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-btnmenu-wrapper {
  -webkit-transition: 0.5s ease-out;
  transform: translate(95%, -110%);
}
/* line 664, ../../sass/module/streetwalk.scss */
body.not-moving .streetwalk-sign {
  transform: translateY(0%);
  -webkit-transition: 0.5s ease-out;
  opacity: 1;
}
