/* line 5, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../.rvm/gems/ruby-2.1.3/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 14, ../../../../../../.rvm/gems/ruby-2.1.3/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar {
  position: fixed;
  bottom: 0;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 10%;
  background-color: #FFD64A;
}
@media screen and (min-height: 800px) {
  /* line 12, ../../sass/module/streetwalk.scss */
  .streetwalk-bottombar {
    height: 8%;
  }
}
/* line 17, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-bottombar-separator {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  height: 100%;
  position: absolute;
  top: -60%;
  z-index: 1;
  background-image: url("../../images/separator_bottom.png");
  background-size: cover;
  background-repeat: no-repeat;
}
/* line 30, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map {
  position: absolute;
  z-index: 2;
  bottom: 30%;
  left: -2%;
  height: 320%;
  width: 10%;
  border-style: solid;
  border-width: 39px 167px 0px 89px;
  -moz-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  -webkit-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  -o-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
  border-image: url("../../images/mapborder.png") 39 167 63 89 fill stretch;
  background-color: transparent;
}
/* line 49, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-map .streetwalk-mapcontainer {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
}
/* line 57, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters {
  position: absolute;
  z-index: 2;
  top: -30%;
  right: 70px;
  height: 120%;
}
/* line 64, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter {
  height: 400%;
  position: absolute;
  width: 40%;
  left: -20%;
  bottom: -80%;
}
/* line 71, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter object {
  height: 100%;
  width: 100%;
}
/* line 76, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .character-unlocked, .streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .video1, .streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .video2, .streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .video3 {
  display: none;
}
/* line 82, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu[data-state='open'] {
  display: block;
}
/* line 86, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter .submenu[data-state='closed'] {
  display: none;
}
/* line 92, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='jale'] {
  z-index: 10;
}
/* line 96, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='pajarito'] {
  left: 0%;
  z-index: 9;
}
/* line 101, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='perso3'] {
  left: 20%;
  z-index: 8;
}
/* line 106, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='perso4'] {
  left: 40%;
  z-index: 7;
}
/* line 111, ../../sass/module/streetwalk.scss */
.streetwalk-bottombar .streetwalk-menucharacters .streetwalk-menucharacter[data-character='perso5'] {
  left: 60%;
  z-index: 6;
}

/* line 121, ../../sass/module/streetwalk.scss */
.streetwalk-video {
  position: fixed;
  height: 100%;
  width: 100%;
  display: none;
}
/* line 127, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-container {
  height: 100%;
  width: 100%;
}
/* line 132, ../../sass/module/streetwalk.scss */
.streetwalk-video .streetwalk-video-btnclose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  background-image: url("../../images/closebtn.svg");
  cursor: pointer;
}

/* line 144, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 154, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter {
  position: fixed;
}
/* line 157, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container {
  width: 0%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
/* line 164, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container .frame-character {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
/* line 170, ../../sass/module/streetwalk.scss */
.streetwalk-textcharacter .img-container .frame-character:active {
  opacity: 0.5;
}

/* line 178, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway {
  width: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  /*transform*/
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 190, ../../sass/module/streetwalk.scss */
.streetwalk-chooseway svg {
  width: 100%;
}

/* line 195, ../../sass/module/streetwalk.scss */
.streetwalk-control {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}
/* line 201, ../../sass/module/streetwalk.scss */
.streetwalk-control .toggle-sounds {
  width: 3rem;
  height: 3rem;
  cursor: pointer;
}
/* line 207, ../../sass/module/streetwalk.scss */
.streetwalk-control .toggle-sounds[data-state="muted"] {
  background-image: url("../../images/mutesound.svg");
}
/* line 211, ../../sass/module/streetwalk.scss */
.streetwalk-control .toggle-sounds[data-state="normal"] {
  background-image: url("../../images/unmutesound.svg");
}

/* line 218, ../../sass/module/streetwalk.scss */
.streetwalk-title {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}
/* line 227, ../../sass/module/streetwalk.scss */
.streetwalk-title .logo {
  height: 30%;
  min-width: 320px;
  max-width: 600px;
  max-height: 30%;
}
/* line 234, ../../sass/module/streetwalk.scss */
.streetwalk-title .description {
  color: white;
  width: 100%;
  min-width: 320px;
  max-width: 700px;
  max-height: 30%;
  margin: 0 auto;
}
@media screen and (max-width: 700px) {
  /* line 243, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 100%;
  }
}
@media screen and (min-width: 700px) and (max-width: 1300px) {
  /* line 250, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 70%;
  }
}
@media screen and (min-width: 1300px) {
  /* line 256, ../../sass/module/streetwalk.scss */
  .streetwalk-title .description {
    width: 50%;
  }
}
/* line 263, ../../sass/module/streetwalk.scss */
.streetwalk-title .description h2 {
  margin: 1em;
  font-size: 1.5rem;
  line-height: 1.7rem;
}
/* line 269, ../../sass/module/streetwalk.scss */
.streetwalk-title .description p {
  font-size: 1.5rem;
}
/* line 274, ../../sass/module/streetwalk.scss */
.streetwalk-title .scrolltostart {
  height: 40%;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
/* line 281, ../../sass/module/streetwalk.scss */
.streetwalk-title .scrolltostart img, .streetwalk-title .scrolltostart svg {
  height: 100%;
}
/* line 286, ../../sass/module/streetwalk.scss */
.streetwalk-title #scrollToStartLoaded {
  display: none;
}

/* line 293, ../../sass/module/streetwalk.scss */
.streetwalkImg, .element-fixed, .blurImg {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* line 303, ../../sass/module/streetwalk.scss */
.trame-video {
  background: url("../../images/trame-video.png") repeat;
  height: 100%;
  position: fixed;
  width: 100%;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  opacity: 1;
}

/* line 314, ../../sass/module/streetwalk.scss */
body.not-moving .trame-video {
  opacity: 0;
  transition: opacity 0.5s ease;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
}
