/* line 14, ../../../../../../.rvm/gems/ruby-2.1.3/gems/susy-2.1.3/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../../sass/module/usermanager.scss */
#usermanager {
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 100;
  top: 0;
  left: 0;
}

/* line 12, ../../sass/module/usermanager.scss */
.usermanager-content {
  width: 50%;
  z-index: 60;
  font-size: 1.1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFD64A;
  border: 7px solid #4B2246;
  border-radius: 5px;
  padding: 1em;
  color: #4b2246;
}
/* line 31, ../../sass/module/usermanager.scss */
.usermanager-content h3 {
  margin-top: 0;
  margin-bottom: 0;
}
/* line 36, ../../sass/module/usermanager.scss */
.usermanager-content .align-right {
  text-align: right;
}
/* line 42, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount table, .usermanager-content .modal-signin table {
  width: 100%;
}
/* line 45, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount table td, .usermanager-content .modal-signin table td {
  width: 50%;
  vertical-align: top;
}
/* line 51, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount input, .usermanager-content .modal-signin input {
  width: 95%;
  height: 2.2rem;
  padding-left: 5px;
}
/* line 57, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount .btn-alignright-wrapper, .usermanager-content .modal-signin .btn-alignright-wrapper {
  text-align: right;
  margin-right: 1rem;
}
/* line 62, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount .form-error-msgcontainer, .usermanager-content .modal-signin .form-error-msgcontainer {
  color: red;
  padding-right: 5px;
}
/* line 67, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount .link-discrete, .usermanager-content .modal-signin .link-discrete {
  color: #4b2246;
}
/* line 70, ../../sass/module/usermanager.scss */
.usermanager-content .modal-createaccount .link-discrete:active, .usermanager-content .modal-signin .link-discrete:active {
  color: #4b2246;
}
/* line 78, ../../sass/module/usermanager.scss */
.usermanager-content .modal-share .margin-none {
  margin: 0;
}
/* line 83, ../../sass/module/usermanager.scss */
.usermanager-content .modal-loading {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: black;
  opacity: 0.4;
}

/* line 95, ../../sass/module/usermanager.scss */
.usermanager-btnclose {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../../images/closeBtnPopup.svg");
  background-repeat: no-repeat;
  cursor: pointer;
}

/* line 107, ../../sass/module/usermanager.scss */
.usermanager-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 50;
  background-color: black;
  opacity: 0.4;
}
