@font-face {
    font-family: 'amatic';
    src: url('../fonts/Amatic-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'amatic';
    src: url('../fonts/AmaticSC-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-R.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-B.ttf');
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'ubuntu';
    src: url('../fonts/Ubuntu-M.ttf');
    font-weight: 300;
    font-style: normal;
}