.landingpage-video-frame {

    position:absolute;
    top:0;
    z-index:1;

    height:100%;
    width:100%;

    background: url(../../images/landing-video-firstframe.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;   
}

.landingpage-headline {
    position:absolute;
    top:0;
    width: 100%;
    text-align: center;
    color:white;
    z-index: 2;

    margin-bottom:20px;
    text-shadow: 0px 0px 5px #444343;

    h1 {
        font-size:7rem;
        font-weight:bold;
        font-family: 'amatic',Trebuchet MS, sans-serif;
    }

    h2 {
        font-size:2rem;
        font-weight:normal;
        margin-top:10px;
    }
}

.btn-enter {
    display:inline-block;
    margin-top:10%;
    font-size:4rem;
    font-weight: bold;

    border:1px solid white;
    padding:0.3rem;
    padding-bottom:1rem;
    border-radius:0.5rem;

    text-decoration: none;
    color:white;
}