#streetwalk {
    height: 10000px;
}

.streetwalk-loading {
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform*/
    -webkit-transform:translate(-50%, -50%);
       -moz-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
         -o-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
}

.streetwalk-title {
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform*/
    -webkit-transform:translate(-50%, -50%);
       -moz-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
         -o-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);

    h1 {
        color:white;
        font-size:4rem;
        font-weight:bold;
    }

    .arrow-down {
        color:white;
        font-size:4rem;
        text-align: center;
    }
}

.loadingNextWay {

    h1 {
        color:white;
        font-size:4rem;
        font-weight:bold;

        position: absolute;
        left: 50%;
        top: 50%;
        /*transform*/
        -webkit-transform:translate(-50%, -50%);
           -moz-transform:translate(-50%, -50%);
            -ms-transform:translate(-50%, -50%);
             -o-transform:translate(-50%, -50%);
                transform:translate(-50%, -50%);
    }
}

.streetwalkImg,.element-fixed,.blurImg {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
}


.element-fixed {
    display:none;
}

.caro img {
    width:400px;
    position:absolute;
    bottom:10px;
    left:10px;
}
.caro img:hover {
    cursor:pointer;
}

#prototype {
    position:fixed;
    background-color: white;
    font-size:2rem;
    bottom:0;
    left:10px;
}

.close-video {
    display:none;
    position:fixed;
    top:10px;
    right:10px;
    width:40px;
    height:40px;
    font-size:2rem;
    background-color: white;
    background: url("../../data/streetwalk/icon/close.png") no-repeat 100% 100%;
    background-size: contain;
}

.arrow {
    width: 200px;
    fill:white;
}

.chooseWayContent {
    position: absolute;
    left: 50%;
    top: 50%;
    /*transform*/
    -webkit-transform:translate(-50%, -50%);
       -moz-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
         -o-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);
}

.negra img {
    bottom:0px;
    right: 5px;
    position: absolute;
}

.trame-video {
    background: url("../../images/trame-video.png") repeat;
    height: 100%;
    position: fixed;
    width: 100%;
    -webkit-transition: opacity 0.5s ease;
    opacity: 1;
}

body.not-moving .trame-video {
    opacity: 0;
    -webkit-transition: opacity 0.5s ease;
}