<div class="streetwalk-menubottom-content">
    <a href="#index"><%= STR.menuBtnLabelHome %></a> <span class="menu-separator">|</span> 
    <a href="#page/transmedia"><%= STR.menuBtnLabelTransmedia %></a> <span class="menu-separator">|</span> 
    <a href="#page/music"><%= STR.menuBtnLabelMusic %></a> <span class="menu-separator">|</span> 
    <a href="#page/team"><%= STR.menuBtnLabelCredits %></a> <span class="menu-separator">|</span> 
    <a href="#page/makingof"><%= STR.menuBtnLabelMakingOf %></a> <span class="menu-separator">|</span> 
    <a href="#page/presskit"><%= STR.menuBtnLabelPressKit %></a> <span class="menu-separator">|</span> 
    <% if(loginStatus.logged) { %>
        <a class="streetwalk-menubottom-btnlogout"><%= STR.menuBtnLabelLogOut %> (<%= loginStatus.name %>)</a>
    <% } else { %>
        <a class="streetwalk-menubottom-btnlogin"><%= STR.menuBtnLabelLogIn %></a>
    <% } %>
     <span class="menu-separator">|</span> <select name="language-selection" class="language-selection">
        <option value="es" <% if(lang == "es") {%> selected <%} %>><%= STR.selectLanguageSpanish %></option>
        <option value="en" <% if(lang == "en") {%> selected <%} %>><%= STR.selectLanguageEnglish %></option>
        <option value="fr" <% if(lang == "fr") {%> selected <%} %>><%= STR.selectLanguageFrench %></option>
    </select>
</div>