<div class="streetwalk-menubottom-content">
    <a href="#index">Home</a> <span class="menu-separator">|</span> 
    <a>Un Transmedia</a> <span class="menu-separator">|</span> 
    <a>Musica</a> <span class="menu-separator">|</span> 
    <a>Equipo</a> <span class="menu-separator">|</span> 
    <a>Making Of</a> <span class="menu-separator">|</span> 
    <a>Presskit</a> <span class="menu-separator">|</span> 
    <% if(loginStatus.logged) { %>
        <a class="streetwalk-menubottom-btnlogout">Logout (<%= loginStatus.name %>)</a>
    <% } else { %>
        <a class="streetwalk-menubottom-btnlogin">Login</a>
    <% } %>
     <span class="menu-separator">|</span> <select name="language-selection" class="language-selection">
        <option value="es" <% if(lang == "es") {%> selected <%} %>>Español</option>
        <option value="en" <% if(lang == "en") {%> selected <%} %>>English</option>
        <option value="fr" <% if(lang == "fr") {%> selected <%} %>>Français</option>
    </select>
</div>