<!DOCTYPE html>
<html>
    <head>
        <title>Pregoneros de Medellín</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <link rel="alternate" hreflang="en" href="http://www.pregonerosdemedellin.com/#en" />
        <link rel="alternate" hreflang="es" href="http://www.pregonerosdemedellin.com/#es" />
        <link rel="alternate" hreflang="fr" href="http://www.pregonerosdemedellin.com/#fr" />
        <% if(lang.indexOf("es") >= 0) { %>
            <meta property="og:description" content="La web documental interactiva de los que venden cantando en Medellín - Colombia. Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído." />
            <meta property="description" content="La web documental interactiva de los que venden cantando en Medellín - Colombia. Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído." />
            <meta property="og:image" content="http://www.pregonerosdemedellin.com/images/seo/es.jpg" lang="es" />
            <meta property="og:locale" content="es_ES" /> 
            <meta property="og:locale:alternate" content="en_US" />
            <meta property="og:locale:alternate" content="fr_FR" />

        <% } else if(lang.indexOf("fr") >=0) { %>
            <meta property="og:description" content="Le webdocumentaire interactif des crieurs ambulants colombiens. Parcourez virtuellement Medellín et découvrez l’univers de ceux qui ont compris, qu’en amour comme en commerce, c’est par la voix qu’on séduit." />
            <meta property="description" content="Le webdocumentaire interactif des crieurs ambulants colombiens. Parcourez virtuellement Medellín et découvrez l’univers de ceux qui ont compris, qu’en amour comme en commerce, c’est par la voix qu’on séduit." />
            <meta property="og:image" content="http://www.pregonerosdemedellin.com/images/seo/fr.jpg" lang="fr" />
            <meta property="og:locale" content="fr_FR" />
            <meta property="og:locale:alternate" content="en_US" />
            <meta property="og:locale:alternate" content="es_ES" /> 
        <% } else if(lang.indexOf("en") >=0) { %>
            <meta property="og:description" content="The interactive web documentary of the singing street vendors of Medellín (Colombia). A virtual journey to discover the world of those who have understood that in trade as in love, it is the voice that seduces." />
            <meta property="description" content="The interactive web documentary of the singing street vendors of Medellín (Colombia). A virtual journey to discover the world of those who have understood that in trade as in love, it is the voice that seduces." />
            <meta property="og:image" content="http://www.pregonerosdemedellin.com/images/seo/en.jpg" />
            <meta property="og:locale" content="en_US" />
            <meta property="og:locale:alternate" content="fr_FR" />
            <meta property="og:locale:alternate" content="es_ES" /> 
        <% } else { %>
            <meta property="og:description" content="La web documental interactiva de los que venden cantando en Medellín - Colombia. Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído." />
            <meta property="description" content="La web documental interactiva de los que venden cantando en Medellín - Colombia. Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído." />
            <meta property="og:image" content="http://www.pregonerosdemedellin.com/images/seo/es.jpg" lang="es" />
            <meta property="og:locale" content="es_ES" /> 
            <meta property="og:locale:alternate" content="en_US" />
            <meta property="og:locale:alternate" content="fr_FR" />
        <% } %>
        <meta property="og:type" content="website" />
        <meta property="og:url" content="http://www.pregonerosdemedellin.com" />
        <meta property="og:title" content="Pregoneros de Medellín"/>
    
        <script src="app/libs/vendor/hopscotch-0.2.3-min.js"></script>
        <script src="app/libs/vendor/parse-1.9.2.min.js"></script>
        <link rel="icon" href="images/favicon.ico" type="image/x-icon"> 
        <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">

    </head>
    <script>
        function loadCSS( href, before, media ){
        "use strict";
        // Arguments explained:
        // `href` is the URL for your CSS file.
        // `before` optionally defines the element we'll use as a reference for injecting our <link>
        // By default, `before` uses the first <script> element in the page.
        // However, since the order in which stylesheets are referenced matters, you might need a more specific location in your document.
        // If so, pass a different reference element to the `before` argument and it'll insert before that instead
        // note: `insertBefore` is used instead of `appendChild`, for safety re: http://www.paulirish.com/2011/surefire-dom-element-insertion/
        var ss = window.document.createElement( "link" );
        var ref = before || window.document.getElementsByTagName( "script" )[ 0 ];
        var sheets = window.document.styleSheets;
        ss.rel = "stylesheet";
        ss.href = href;
        // temporarily, set media to something non-matching to ensure it'll fetch without blocking render
        ss.media = "only x";
        // inject link
        ref.parentNode.insertBefore( ss, ref );
        // This function sets the link's media back to `all` so that the stylesheet applies once it loads
        // It is designed to poll until document.styleSheets includes the new sheet.
        function toggleMedia(){
            var defined;
            for( var i = 0; i < sheets.length; i++ ){
                if( sheets[ i ].href && sheets[ i ].href.indexOf( href ) > -1 ){
                    defined = true;
                }
            }
            if( defined ){
                ss.media = media || "all";
            }
            else {
                setTimeout( toggleMedia );
            }
        }
        toggleMedia();
        return ss;
    }
    loadCSS( "style/css/main.css" );
    loadCSS( "style/hopscotch/hopscotch.css");
    loadCSS( "style/videojs/video-js.css");

          fbSDKLoaded = false;

          window.fbAsyncInit = function() {
                fbSDKLoaded = true; //init flag
                // console.log("fbsdk loaded" + fbSDKLoaded);
                var event = new Event('fbSDKLoaded');
                document.dispatchEvent(event);
          };

    </script>
    <script>
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
    </script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-56280633-1', 'auto');
      ga('send', 'pageview');
    </script>
    <noscript><link rel="stylesheet" href="style/css/main.css" /></noscript>
    <script data-main="app/main" src="app/libs/vendor/require-2.1.15.min.js"></script>
<body class="not-moving">
    
    <div id="index" class="page" style="display:block;position:fixed;top:0;left:0;">
        <!-- By Sam Herbert (@sherb), for everyone. More @ http://goo.gl/7AJzbL -->
        <svg width="100" height="100" style="position:fixed;top:50%;left:50%;margin-top:-50px;margin-left:-50px;" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#4F2747">
            <g fill="none" fill-rule="evenodd">
                <g transform="translate(1 1)" stroke-width="2">
                    <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                    <path d="M36 18c0-9.94-8.06-18-18-18">
                        <animateTransform
                            attributeName="transform"
                            type="rotate"
                            from="0 18 18"
                            to="360 18 18"
                            dur="1s"
                            repeatCount="indefinite"/>
                    </path>
                </g>
            </g>
        </svg>
    </div>
    
    <div id="streetwalk" class="page">
        
    </div>
    
    <div id="usermanager" class="hidden">
        <div class="usermanager-content">
        </div>
        <div class="usermanager-overlay">
        </div>
    </div>
    
    <div id="page" class="hidden">
    </div>
    
    
    <div id="mobile" class="page" class="hidden">
    </div>
    

</body>



</html>
