<div class="mobile-video" style="width:100%;height:100%">
    <video id="video-mobile" class="video-js vjs-default-skin vjs-big-play-centered" controls preload="auto">
        <source src="/videos/mobile.mp4" type='video/mp4' />
        <% if(lang == "es") {%>
        <track kind="captions" src="content/subtitles/jale/mobilebonus/es.vtt" srclang="es" label="<%= STR.selectLanguageSpanish %>" default></track>
        <% } %>
        <% if(lang == "en") {%>
        <track kind="captions" src="content/subtitles/jale/mobilebonus/en.vtt" srclang="en" label="<%= STR.selectLanguageEnglish %>" default></track>
        <% } %>
        <% if(lang == "fr") {%>
        <track kind="captions" src="content/subtitles/jale/mobilebonus/fr.vtt" srclang="fr" label="<%= STR.selectLanguageFrench %>" default></track>
        <% } %>
    </video>
</div>



