<div class="main">
        <div class="top">
            <div class="logo-bar">
                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2484 146" enable-background="new 0 0 2484 146" xml:space="preserve">
                <rect x="-30" y="-9" fill="#FFFFFF" width="2994" height="169"></rect>
                <a xlink:href="http://www.mintic.gov.co" target="_blank">
                <image overflow="visible" width="2982" height="434" xlink:href="images/logos/logoministerio.png" transform="matrix(0.24 0 0 0.24 1254.7183 18.2601)">
                </image>
                </a>
                <a xlink:href="http://www.grupobaobab.com" target="_blank">
                <image overflow="visible" width="821" height="1140" xlink:href="images/logos/logobaobab.png" transform="matrix(0.2021 0 0 0.2021 2326.0801 0)">
                </image>
                </a>
                <a xlink:href="http://www.thibault-durand.fr" target="_blank">
                <image overflow="visible" width="724" height="425" xlink:href="images/logos/logotibo.png" transform="matrix(0.24 0 0 0.24 730.3931 25.7686)">
                </image>
                </a>
                <a xlink:href="http://www.angelacarabali.com" target="_blank">
                <image overflow="visible" width="1170" height="376" xlink:href="images/logos/logocarabali.png" transform="matrix(0.24 0 0 0.24 392.5103 34.1899)">
                </image>
                </a>
                <% if(lang == "es") { %>
                <text transform="matrix(0.9138 0 0 1 70 94.4531)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">UN PROYECTO DE:</text>
                <g>
                    <text transform="matrix(0.9138 0 0 1 970 91.7858)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">CON EL APOYO:</text>
                </g>
                <g>
                    <text transform="matrix(0.9138 0 0 1 2040 94.4532)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">EN ALIANZA CON: </text>
                </g>
                <% } if(lang == "fr") { %>
                <text transform="matrix(0.9138 0 0 1 70 94.4531)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">UN PROJET DE:</text>
                <g>
                    <text transform="matrix(0.9138 0 0 1 970 91.7858)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">AVEC L'AIDE DE:</text>
                </g>
                <g>
                    <text transform="matrix(0.9138 0 0 1 2040 94.4532)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">ALLIANCE AVEC: </text>
                </g>
                <% } if(lang == "en") { %>
                <text transform="matrix(0.9138 0 0 1 70 94.4531)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">PROJECT BY:</text>
                <g>
                    <text transform="matrix(0.9138 0 0 1 950 91.7858)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">WITH THE HELP OF:</text>
                </g>
                <g>
                    <text transform="matrix(0.9138 0 0 1 2040 94.4532)" fill="#7F7F7F" font-family="'Tahoma'" font-size="35">ALLIANCE WITH: </text>
                </g>
                <% } %>
                </svg>
            </div>
            <div class="wrap-top-bar">
                <div class="top-bar">
                    <div class="menu">
                    </div>
                    <div class="share-btn">
                        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                             viewBox="0 0 135.9 53.2" enable-background="new 0 0 135.9 53.2" xml:space="preserve">
                        <path class="btn-share btn-shareonfacebook" fill="#FFFFFF" d="M43.6,0h-34C4.3,0,0,4.3,0,9.6v34c0,5.3,4.3,9.6,9.6,9.6h34c5.3,0,9.6-4.3,9.6-9.6v-34
                            C53.2,4.3,48.9,0,43.6,0z M44.8,14.5h-3.5c-1.7,0-3.2,1.4-3.2,3.2v2.4h6.7v7.2h-6.7v22.1h-9.4V27.3h-6.1v-7.2h6.1v-4.3
                            c0-4.7,3.8-8.4,8.4-8.4h7.7V14.5z"/>
                        <path class="btn-share btn-shareontwitter" fill="#FFFFFF" d="M135.9,6.3c-2.4,1.1-5,1.8-7.7,2.1c2.8-1.7,4.9-4.3,5.9-7.4c-2.6,1.5-5.5,2.7-8.5,3.3
                            c-2.5-2.6-5.9-4.2-9.8-4.2c-7.4,0-13.4,6-13.4,13.4c0,1,0.1,2.1,0.3,3.1c-11.2-0.6-21.1-5.9-27.7-14c-1.2,2-1.8,4.3-1.8,6.8
                            c0,4.7,2.4,8.8,6,11.2c-2.2-0.1-4.3-0.7-6.1-1.7c0,0.1,0,0.1,0,0.2c0,6.5,4.6,11.9,10.8,13.2c-1.1,0.3-2.3,0.5-3.5,0.5
                            c-0.9,0-1.7-0.1-2.5-0.2c1.7,5.3,6.7,9.2,12.6,9.3c-4.6,3.6-10.4,5.8-16.7,5.8c-1.1,0-2.2-0.1-3.2-0.2c5.9,3.8,13,6,20.6,6
                            c24.7,0,38.2-20.5,38.2-38.2c0-0.6,0-1.2,0-1.7C131.8,11.4,134.1,9,135.9,6.3z"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="logo">
            </div>
            <div class="laurels">
                <img src="images/laurels.png" class="laurels-img" />
            </div>
            <div class="description">
                    <div class="description-text">
                        <p><%= STR.landingDescriptionHeadline %></p>
                        <p><%= STR.landingDescriptionParagraph %></p>
                    </div>
                    <div class="description-btnenter">
                        
                    </div>
            </div>
            <div class="separator">
            </div>
        </div>
</div>
<div class="landingpage-video-frame">
    
</div>
<div class="landingpage-video">
    <!-- <iframe src="https://player.vimeo.com/video/114688319" frameborder="0" autoplay="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
    <video id="video-landing" class="video-js" preload="auto" loop>
        <source src="https://images.pregonerosdemedellin.com/video/home.mp4" type='video/mp4' />
    </video>
</div>
<div class="toggle-sounds" data-state="normal"></div>