<div class="main">
        <div class="top">
            <div class="logo-bar">
                <div class="logo-wrapper"></div>
            </div>
            <div class="wrap-top-bar">
                <div class="top-bar">
                    <div class="menu">
                        <p>UN PROYECTO TRANSMEDIA - MUSICA - EQUIPO</p>
                    </div>
                    <div class="share-btn">
                        <img src="images/sharehome.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="logo">
            </div>
            <div class="description">
                    <div class="description-text">
                        <p>LA WEB DOCUMENTAL INTERACTIVA DE LOS QUE VENDEN CANTANDO EN MEDELLÍN - COLOMBIA.</p>
                        <p>Un recorrido virtual por el universo laboral y personal de aquellos que entendieron que al amor y a los clientes se les seduce por el oído.</p>
                    </div>
                    <div class="description-btnenter">
                        <a href="#streetwalk">
                            <img src="images/btn-enter.svg" alt="">
                        </a>
                    </div>
            </div>
            <div class="separator">
            </div>
        </div>
</div>
<div class="landingpage-video-frame">
    
</div>
<div class="landingpage-video"></div>