<% if(loginStatus.logged) { %>
<a href="#streetwalk" class="btn btn-enter">
    <img src="images/<%= translationLoaded %>/btn-continue.svg" alt="">
</a>
<div class="btn-newprogress description-btnenter-btnsecondary">
    <a href="#" class="menu-btnlogout"><%= STR.landingInitNewProgress %></a>
</div>
<% } else { %>
<a href="#streetwalk" class="btn btn-enter">
    <img src="images/<%= translationLoaded %>/btn-enter.svg" alt="">
</a>
<div class="btn-continueprogress description-btnenter-btnsecondary">
    <a href="#" class="menu-btnlogin"><%= STR.landingLoadSavedProgress %></a>
</div>
<% } %>