<p><a>Un Transmedia</a> <span class="menu-separator">|</span> 
    <a>Musica</a> <span class="menu-separator">|</span> 
    <a>Equipo</a> <span class="menu-separator">|</span> 
    <a>Making of</a> <span class="menu-separator">|</span> 
    <a>PressKit</a> <span class="menu-separator">|</span> 

<% if(loginStatus.logged) { %>
        <a class="menu-btnlogout">Logout (<%= loginStatus.name %>)</a>
<% } else { %>
    <a class="menu-btnlogin">Login</a> 
<% } %>
   <span class="menu-separator">|</span> <select name="language-selection" class="language-selection">
        <option value="es" <% if(lang == "es") {%> selected <%} %>>Español</option>
        <option value="en" <% if(lang == "en") {%> selected <%} %>>English</option>
        <option value="fr" <% if(lang == "fr") {%> selected <%} %>>Français</option>
    </select>
</p>