<p>UN PROYECTO TRANSMEDIA - MUSICA - EQUIPO - 

<% if(loginStatus.logged) { %>
        <button class="menu-btnlogout">LOGOUT (<%= loginStatus.name %>)</button>
<% } else { %>
    <button class="menu-btnlogin">LOGIN</button>
<% } %>
    <select name="language-selection" class="language-selection">
        <option value="es" <% if(lang == "es") {%> selected <%} %>>Español</option>
        <option value="en" <% if(lang == "en") {%> selected <%} %>>English</option>
        <option value="fr" <% if(lang == "fr") {%> selected <%} %>>Français</option>
    </select>
</p>