<div class="main">
        <div class="top">
            <div class="logo-bar">
                <div class="logo-wrapper"></div>
            </div>
            <div class="wrap-top-bar">
                <div class="top-bar">
                    <div class="menu">
                    </div>
                    <div class="share-btn">
                        <img src="images/sharehome.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="middle">
            <div class="logo">
            </div>
            <div class="description">
                    <div class="description-text">
                        <p><%= STR.landingDescriptionHeadline %></p>
                        <p><%= STR.landingDescriptionParagraph %></p>
                    </div>
                    <div class="description-btnenter">
                        
                    </div>
            </div>
            <div class="separator">
            </div>
        </div>
</div>
<div class="landingpage-video-frame">
    
</div>
<div class="landingpage-video">
    <!-- <iframe src="https://player.vimeo.com/video/114688319" frameborder="0" autoplay="1" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe> -->
    <video id="video-landing" class="video-js" preload="auto" loop>
        <source src="http://player.vimeo.com/external/114688319.hd.mp4?s=d05c8502978a318fb0ad27181a811b4e" type='video/mp4' />
    </video>
</div>
<div class="toggle-sounds" data-state="normal"></div>