<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 745 386" enable-background="new 0 0 745 386" xml:space="preserve">
	<g>
		
			<image overflow="visible" width="2550" height="1100" xlink:href="images/scrolltostart/backgroundotherway.png"  transform="matrix(0.2981 -4.781800e-02 6.079800e-02 0.379 -54.6163 55.9707)">
		</image>
	</g>
<% if(lang == "en") { %>   
	<g>
		<g>
			<g>
				
					<text transform="matrix(0.9963 -8.619982e-02 8.619982e-02 0.9963 284.7123 239.8124)" fill="#12806D" font-family="FilbertBrush" font-size="51.8883">OTHER WAY</text>
			</g>
			<g>
				<text transform="matrix(0.9956 -9.321959e-02 9.321959e-02 0.9956 156.7583 193.6545)"><tspan x="0" y="0" fill="#BC4227" font-family="FilbertBrush" font-size="80.2415">¡Oops! </tspan><tspan x="255" y="0" fill="#BC4227" font-family="FilbertBrush" font-size="42.3579">TOUCH THE </tspan></text>
			</g>
			
				<text id="LADO_CONTRARIO_PARA_AVANZAR_3_" transform="matrix(0.9979 -6.472021e-02 6.472021e-02 0.9979 256.6685 295.3814)" fill="#4B2246" font-family="FilbertBrush" font-size="39.7475">TO GO FORWARD !</text>
			<path fill="#12806D" d="M238.7,258.3c0,0,370.9-40.2,374.3-27C613.4,232.7,255.6,257.6,238.7,258.3z"/>
		</g>
	</g>
 <% } if(lang == "es") { %>   
 <g>
        <g>
            <g>
                
                    <text transform="matrix(0.9963 -8.619982e-02 8.619982e-02 0.9963 227.5966 247.4688)" fill="#12806D" font-family="FilbertBrush" font-size="49.6576">LADO CONTRARIO</text>
            </g>
            <g>
                <text transform="matrix(0.9956 -9.321959e-02 9.321959e-02 0.9956 112.6093 203.0536)"><tspan x="0" y="0" fill="#BC4227" font-family="FilbertBrush" font-size="76.792">¡Oops! </tspan><tspan x="244" y="0" fill="#BC4227" font-family="FilbertBrush" font-size="40.5369">TOCA HACIA EL </tspan></text>
            </g>
            
                <text id="LADO_CONTRARIO_PARA_AVANZAR_2_" transform="matrix(0.9979 -6.472021e-02 6.472021e-02 0.9979 281.0372 294.0522)" fill="#4B2246" font-family="FilbertBrush" font-size="38.0388">PARA AVANZAR!</text>
            <path fill="#12806D" d="M247.6,259.6c0,0,354.9-38.4,358.2-25.8C606.2,235.1,263.8,259,247.6,259.6z"/>
        </g>
    </g>
<% } if(lang == "fr") { %>   
    <g>
        <g>
            <g>
                
                    <text transform="matrix(0.9963 -8.619982e-02 8.619982e-02 0.9963 255.3568 241.9326)" fill="#12806D" font-family="FilbertBrush" font-size="52.2105">L’AUTRE SENS</text>
            </g>
            <g>
                <text transform="matrix(0.9956 -9.321959e-02 9.321959e-02 0.9956 140.4806 194.3965)"><tspan x="0" y="0" fill="#BC4227" font-family="FilbertBrush" font-size="80.7398">¡Oops! </tspan><tspan x="256.6" y="0" fill="#BC4227" font-family="FilbertBrush" font-size="42.6209">TOUCHEZ DANS </tspan></text>
            </g>
            
                <text id="LADO_CONTRARIO_PARA_AVANZAR_1_" transform="matrix(0.9979 -6.472021e-02 6.472021e-02 0.9979 268.1187 294.5569)" fill="#4B2246" font-family="FilbertBrush" font-size="39.9943">POUR AVANCER !</text>
            <path fill="#12806D" d="M238.2,258c0,0,373.2-40.4,376.6-27.2C615.2,232.3,255.2,257.3,238.2,258z"/>
        </g>
    </g>
<% } %>
</svg>
