.btn-primary {
    color:#fff;
    border-radius:1rem;
    border:none;
    font-size:1.2rem;
    padding:0.3rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    -webkit-box-shadow:2px 2px 4px 0px rgba(0,0,0,0.75);
    background-color: #00A99D;
}

.btn-secondary {
    color:black;
    border-radius:1rem;
    border:none;
    font-size:1.2rem;
    padding:0.3rem;
    padding-left:0.5rem;
    padding-right: 0.5rem;
    text-decoration: none;
    -webkit-box-shadow:2px 2px 4px 0px rgba(0,0,0,0.75);
    background-color: rgb(239, 231, 231);

}