@import "grids";

.main {
    @include span(12);

    background-image: url("../../images/texture_full_hq.jpg");
    background-size:cover;

    height: 70%;

    position: relative;
    z-index:1;
}

.top {
     @include span(12);

     height:25%;

     position: relative;
     z-index:30;

     .logo-bar {
        height: 50%;
        position: absolute;
        @include span(12);
        background-color: white;
        
        .logo-wrapper {
            width: 30%;
            height: 80%;
            position:absolute;
            top:10%;
            right: 5px;
            background-image: url("../../images/logos.jpg");
            background-size:contain;
            background-repeat: no-repeat;
        }
     }

     .wrap-top-bar {
        position:absolute;
        height: 50%;
        top:50%;

        @include span(12);

        background-color: rgba(189,117,15,0.6);

        .top-bar {
            position:absolute;
            height: 80%;
            top:0%;

            @include span(12);

            background-color: #00937A;
            opacity: 1;

            .share-btn {
                width:20%;
                position: absolute;
                right: 2%;
                top:15%;
                height: 70%;

                img {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                     -webkit-transform: translate(-50%, -50%);
                        -moz-transform:translate(-50%, -50%);
                        -ms-transform:translate(-50%, -50%);
                         -o-transform:translate(-50%, -50%);
                            transform:translate(-50%, -50%);
                }
            }

            .menu {
                font-family: "FilbertBrush";
                font-size : 1.3rem;
                font-variant: small-caps;
                color:white;
                margin-left:2%;
                position:absolute;
                top:50%;
                transform:translateY(-50%);

                .language-selection {
                    background-color: transparent;
                }

                a {
                    cursor: pointer;
                }

                a:visited {
                    color:white;
                }
            }

        }

     }  
}

.middle {
    @include span(12);

    height:75%;
    position:relative;

    .logo {
        @include span(isolate 4 at 2);

        height: 100%;

        background-image: url("../../images/logo.png");
        background-size: contain;
        background-repeat: no-repeat;
    }

    .description {
        
        height: 120%;

        position: absolute;
        bottom:0;
        z-index:26;

        border-style: solid;
        -webkit-border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;
        -moz-border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;
        border-image: url("../../images/texture_description_area.png") 111 214 51 297 fill stretch;

        @include span(isolate 7 at 6);
        border-width: 111px 214px 0px 297px;

        @media screen and (max-width: 1400px) {
            & {
                @include span(isolate 7 at 6);
                border-width: 60px 130px 0px 130px;
            }
        }

        .description-text {
           font-family: "FilbertBrush";
           font-size : 1.2rem;
           text-align: center;
           color : #4A2246;

           p {
             margin:1em 0px;
           }
        }

        .description-btnenter {
            img {
                position:absolute;
                bottom:5%;
                max-height: 25%;
                z-index: 25;
            }

            .description-btnenter-btnsecondary {
                position: absolute;
                bottom: -5%;
                width: 100%;
                text-align: center;

                a {
                    color : #4A2246;
                }
            }
        }

    }

    .separator {
        @include span(12);
        position: absolute;
        bottom:-12.5%;
        z-index: 20;

        height: 30%;

        background-image: url("../../images/separator_bottom.png");
        background-size: cover;
        background-repeat: no-repeat;
    }
}


.landingpage-video-frame {
    height: 100%;
    width: 100%;
    z-index:-1;

    background-image: url("../../images/landing-video-firstframe.jpg"); 
    background-size: 100% 100%;

    position:absolute;
    bottom:0;
    top:0;
    right:0;
}

.landingpage-video {
    height: 0;
    width: 100%;

    position:absolute;
    bottom:0;
    right:0;

    z-index:-1;

    iframe {
        bottom: 0px;
        position: absolute;
    }
}

#index {
    .toggle-sounds {
        position:absolute;
        bottom:20px;
        right: 20px;
        width:2.5rem;
        height:2.5rem;

        z-index:5;

        cursor:pointer;

        &[data-state="muted"] {
            background-image:url("../../images/mutesound.svg");
        }

        &[data-state="normal"] {
            background-image:url("../../images/unmutesound.svg");
        }
    }
}