@import "grids";
@import "compass/css3";

.menu-separator {
    font-family: Arial !important;
    font-weight: bold;
}

.streetwalk-menubottom {
    position:fixed;
    bottom:0;
    z-index:10;
    background-color: #FFD64A;
    height: 5%;
    @include span(12);

    color:#4B2246;
    font-size:1.1rem;
    font-variant: small-caps;

    @include translateY(90%);
    @include transition(transform 0.5s ease-out);

    .streetwalk-menubottom-content {
        position:absolute;
        top:50%;
        @include translateY(-50%);
        margin-left: 2%;
    } 

    &.open {
        z-index:21;
    }

    .language-selection {
        background-color: transparent;
    }

    a {
        cursor:pointer;
    }

    a:visited,a:active,a:link {
        color:#4B2246;
    }
}

.streetwalk-bottombar {
    position:fixed;
    bottom:0;

    @include span(12);
    height: 10%;

    @include transition(transform 0.5s ease-out);

    opacity: 1;

    @include translateY(90%);

    background-color: #FFD64A;

    z-index:20;

    .streetwalk-bottombar-separator {
        @include span(12);
        height: 100%;
        position: absolute;

        top:-60%;
        z-index: 1;

        background-image: url("../../images/separator_bottom.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .streetwalk-btnmenu-wrapper {
        position:absolute;
        top:100%;
        right: 0%;


        @include transition(transform 0.5s ease-out);
        @include translate(0%,-110%);

        z-index:10;

        button {
            color:#fff;
            border-radius:0rem 1rem 1rem 0rem;
            border:none;
            font-size:1.2rem;
            padding:0.3rem;
            padding-left:1rem;
            padding-right: 0.7rem;
            text-decoration: none;
            @include box-shadow(3px 3px 3px 0px rgba(0,0,0,0.75));
            background-color: #AD482A;
        }
    }

    .streetwalk-control {
        position: absolute;
        bottom:5px;
        right:5px;
        z-index:21;

        height: 120%;
        width: 6%;

        .toggle-sounds {
            height:50%;

            background-repeat: no-repeat;
            background-position:right;

            cursor:pointer;

            &[data-state="muted"] {
                background-image:url("../../images/mutesound.svg");
            }

            &[data-state="normal"] {
                background-image:url("../../images/unmutesound.svg");
            }

            margin-bottom: 5%;
            
        }

        .toggle-fullscreen {
            height:50%;

            background-repeat: no-repeat;
            background-position:right;

            cursor:pointer;

            &[data-state="fullscreen"] {
                background-image:url("../../images/leavefullscreen.svg");
            }

            &[data-state="normal"] {
                background-image:url("../../images/fullscreen.svg");
            }
            
        }
    }

    .streetwalk-map {
        position:absolute;
        z-index:30;

        //Position
        @include translateY(-25%);
        @include transition(all 0.5s ease-out);

        &.enlarged {
            @include translateY(-12%);

            .streetwalk-map-btnfullscreen {
                background-image: url("../../images/closebtn-black.svg");
            }

            .character-icon {
                width: 30px !important;
                height: 30px !important;
            }
        }

        .map-path-way {
            &.highlight {
                stroke:red !important;
            }
        }

        //Positionning
        bottom:30%;
        left:-2%;
        //Size
        height:320%;
        width: 10%; //width defined = height in javascript

        border-style: solid;
        border-width: 39px 167px 0px 89px;

        -moz-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
        -webkit-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
        -o-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
        border-image: url("../../images/mapborder.png") 39 167 63 89 fill stretch;
        background-color: transparent;

        .streetwalk-mapcontainer {
            height: 100%;
            width: 100%;
            border-radius:10px;
            overflow: hidden;
            z-index:30;

            box-shadow:5px 5px 20px rgb(160, 138, 28);
        }

        .streetwalk-map-btnfullscreen {
            position:absolute;
            top:28px;
            left:2px;

            @include translate(0%,-110%);

            z-index:40;
            cursor:pointer;

            width: 26px;
            height: 26px;
            border:1px solid #999;
            border-radius:3px;

            background: #fff url("../../images/map/magnifier.svg") no-repeat 0 0;
            background-size: contain;
        }
    }

    .streetwalk-menucharacters {
        position:absolute;
        z-index: 30;
        top:-30%;
        right: 70px;
        height: 120%;

        .streetwalk-menucharacter {
            height: 400%;
            position:absolute;
            width: 40%;
            left:-20%;
            bottom:-50%;

            object {
                height: 100%;
                width: 100%;
            }

            .submenu {

                &[data-state='open'] {
                    display:block;
                }

                &[data-state='closed'] {
                    display:none;
                }
            }

            .character-locked {
                opacity: 0.9;
            }

            .character-unlocked {

                &[data-state='locked'] {
                    
                    .label {
                        display:none;
                    }
                }

                &[data-state='unlocked'] {
                    
                    .label {
                        display:block;
                    }
                }
            }

            .character,.submenu g {
                cursor: pointer;
            }

            //Default states
            &[data-character='jale'] {
                z-index: 10;
                bottom:-32%;
                width: 42%;
            }

            &[data-character='pajarito'] {
                left:-2%;
                z-index: 9;
                width: 44%;
                bottom:-39%;
            }

            &[data-character='lider'] {
                left:16%;
                z-index: 8;
                width: 44%;
                bottom: -37%;
            }

            &[data-character='gaucho'] {
                left:34%;
                z-index: 7;
                width: 45%;
                bottom:-30%;
            }

            &[data-character='papavanegas'] {
                left:54%;
                z-index:6;
                width: 47%;
                bottom:-35%;
            }

            &[data-state='open'] {
                z-index:10;
            }

            //STATE
            .character:active {
                opacity:0.8 !important;
            }

            .submenu g:active {
                opacity:0.8 !important;
            }


        }
    }
}

.streetwalk-video {
    position:fixed;
    height: 100%;
    width: 100%;
    display:none;

    z-index:1000000000;

    .streetwalk-video-container {
        height: 100%;
        width: 100%;

        background-color:black;

        .video-js {
            height: 100% !important;
            width: 100% !important;
        }
    }

    .streetwalk-video-btnclose {
        position:absolute;
        top:10px;
        right:10px;
        width: 50px;
        height: 50px;
        background-image:url("../../images/closebtn.svg");
        background-repeat: no-repeat;

        cursor:pointer;
    }
}

.streetwalk-chooseway-wrapper {
    position: fixed;
    
    width:35%;
    z-index:25;

    left: 50%;
    top: 50%;


    @include translate(-50%, -50%);
}

.streetwalk-textcharacter {
    position: fixed;
    width:0;
    height:0;
    z-index:15;

    .img-container {
        width: 0%;
        top: 50%;
        left: 50%;

        @include translate(-50%, -100%);
        position: absolute;
        z-index:10;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .character-sign {
        cursor:pointer;
    }

    .character-sign:active {
        opacity: 0.5;
    }

    .mask-character {
        width:200px;
        height:200px;


        @include translate(-50%,0%)
    }

    &:active {

        .character-sign {
            opacity: 0.5;
        }
    }
    
}

.streetwalk-chooseway {
    width: 100%;
    height: 100%;

    svg {
        width: 100%;
    }
}

.streetwalk-tutorial-wrapper {
    position: absolute;
    bottom:0%;
    left:0;
    right: 0;
    top:0;
    z-index:4;

    .streetwalk-tutorial {
        height: 55%;
        width: 100%;
        position:absolute;
        bottom: 15%;
    }

    .streetwalk-tutorial-scrollotherside-tooltip {
        display:none;
        width: 25%;
        margin: 0 auto;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.streetwalk-progress,.streetwalk-area {
    position:fixed;

    z-index:5;

    height: 15%;

    @media screen and (min-width: 1400px) {
            & {
                height: 12%;
            }
    }

    svg {
        height: 100%;
    }
}

.streetwalk-progress {
    top:0px;
    left: 20px;
}
.streetwalk-area {
    top:0px;
    right: 20px;
}


.streetwalk-title {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;

    text-align: center;

    .logo {
        height: 30%;
        min-width: 320px;
        max-width: 600px;
        max-height: 30%;
    }

    .description {
        color:white;
        width: 100%;
        min-width: 320px;
        max-width: 700px;
        max-height: 30%;

        //Media query
        @media screen and (max-width: 700px) {
            & {
                width: 100%;
            }
            
        }

        @media screen and (min-width : 700px) and (max-width: 1300px) {
            & {
                width: 70%;
            }
        }

        @media screen and (min-width: 1300px) {
            & {
                width: 50%;
            }
        }

        margin:0 auto;

        h2 {
            margin:1em;
            font-size:1.5rem;
            line-height: 1.7rem;
        }

        p {
            font-size:1.5rem;
        }
    }

    .scrolltostart {
        height: 40%;
        position: absolute;
        bottom:0;
        right: 0;
        left:0;

        img,svg {
            height: 100%;
        }
    }

    #scrollToStartLoaded {
        display:none;
    }

}


.streetwalkImg,.streetwalkImgHighRes {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
}

.streetwalk-tutorial-overlay {

    display:none;

    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:50;

    background-color: black;
    opacity: 0.5;

    &.step1 {
        // background:-webkit-radial-gradient(65% 60%, circle closest-corner, transparent 0, black 50%);
        @include background-image(radial-gradient(65% 60%, circle closest-corner, transparent 0,black 50%));
    }

    &.step2 {
        opacity: 0.4;
        z-index:5;
    }

    &.step3 {
        opacity: 0.4;
        z-index:5;
    }

    @include transition(all 0.3s ease-out);
}

.streetwalk-sign {
        @include translateY(-85%);
        @include transition(transform 0.5s ease-out);
        opacity: 0.2;
}

.streetwalk-syncing {
    position:fixed;
    top:0px;
    left:50%;
    @include translate(-50%,-100%);

    background-color:#FFD64A;
    border:2px solid #4B2246;
    border-top:none;
    border-radius: 5px;
    padding:1em;
    color:#4b2246;

    @include transition(transform 1s ease-out);

    &.syncinginprogress {
        @include transition(transform 1s ease-out);
        @include translate(-50%,0%);
    }
}

body.not-moving {

    .streetwalk-bottombar {
        @include transition(transform 0.5s ease-out);
        opacity: 1;
        @include translateY(0%);

        .streetwalk-map {
            @include translateY(0%);
            @include transition(all 0.5s ease-out);

            .enlarged {
                @include translateY(0%);
            }
        }   
    }

    .streetwalk-menubottom {
        @include translateY(0%);
        @include transition(transform 0.5s ease-out);
    }

    .streetwalk-btnmenu-wrapper {
        @include transition(transform 0.5s ease-out);
        @include translate(95%,-110%);
    }

    .streetwalk-sign {
        @include translateY(0%);
        @include transition(transform 0.5s ease-out);
        opacity: 1;
    }
}