@import "grids";


.streetwalk-menubottom {
    position:fixed;
    bottom:0;
    z-index:10;
    background-color: #FFD64A;
    height: 5%;
    @include span(12);

    .streetwalk-menubottom-content {
        position:absolute;
        top:50%;
        transform:translateY(-50%);
    } 
}

.streetwalk-bottombar {
    position:fixed;
    bottom:0;

    @include span(12);
    height: 10%;
    -webkit-transition:0.5s ease-out;
    opacity: 0.7;
    transform:translateY(90%);
    background-color: #FFD64A;

    z-index:20;

    .streetwalk-bottombar-separator {
        @include span(12);
        height: 100%;
        position: absolute;

        top:-60%;
        z-index: 1;

        background-image: url("../../images/separator_bottom.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    .streetwalk-btnmenu-wrapper {
        position:absolute;
        top:100%;
        right: 0%;
        transform:translate(95%,-110%);
        z-index:10;

        button {
            color:#fff;
            border-radius:0rem 1rem 1rem 0rem;
            border:none;
            font-size:1.2rem;
            padding:0.3rem;
            padding-left:1rem;
            padding-right: 0.7rem;
            text-decoration: none;
            -webkit-box-shadow:3px 3px 3px 0px rgba(0,0,0,0.75);
            background-color: #AD482A;
        }
    }

    .streetwalk-control {
        position: absolute;
        bottom:20px;
        right:20px;
        z-index:21;

        .toggle-sounds {
            width:3rem;
            height:3rem;

            cursor:pointer;

            &[data-state="muted"] {
                background-image:url("../../images/mutesound.svg");
            }

            &[data-state="normal"] {
                background-image:url("../../images/unmutesound.svg");
            }
            
        }
    }

    .streetwalk-map {
        position:absolute;
        z-index:30;

        //Positionning
        bottom:30%;
        left:-2%;
        //Size
        height:320%;
        width: 10%; //width defined = height in javascript

        border-style: solid;
        border-width: 39px 167px 0px 89px;
        -moz-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
        -webkit-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
        -o-border-image: url("../../images/mapborder.png") 39 167 63 89 stretch;
        border-image: url("../../images/mapborder.png") 39 167 63 89 fill stretch;
        background-color: transparent;

        transition: height 0.2s ease-in,width 0.2s ease-out;

        .streetwalk-mapcontainer {
            height: 100%;
            width: 100%;
            border-radius:10px;
            overflow: hidden;
            z-index:30;

            box-shadow:5px 5px 20px rgb(160, 138, 28);
        }
    }

    .streetwalk-menucharacters {
        position:absolute;
        z-index: 2;
        top:-30%;
        right: 70px;
        height: 120%;

        .streetwalk-menucharacter {
            height: 400%;
            position:absolute;
            width: 40%;
            left:-20%;
            bottom:-50%;

            object {
                height: 100%;
                width: 100%;
            }

            .submenu {

                &[data-state='open'] {
                    display:block;
                }

                &[data-state='closed'] {
                    display:none;
                }
            }

            .character-locked {
                opacity: 0.9;
            }

            .character-unlocked {

                &[data-state='locked'] {
                    
                    .label {
                        display:none;
                    }
                }

                &[data-state='unlocked'] {
                    
                    .label {
                        display:block;
                    }
                }
            }

            //Default states
            &[data-character='jale'] {
                z-index: 10;
            }

            &[data-character='pajarito'] {
                left:-2%;
                z-index: 9;
                width: 44%;
                bottom:-39%;
            }

            &[data-character='lider'] {
                left:16%;
                z-index: 8;
                width: 44%;
                bottom: -45%;
            }

            &[data-character='gaucho'] {
                left:34%;
                z-index: 7;
                width: 44%;
                bottom:-42%;
            }

            &[data-character='papavanegas'] {
                left:56%;
                z-index:6;
                width: 44%;
                bottom:-42%;
            }

            &[data-state='open'] {
                z-index:10;
            }


        }
    }
}

.streetwalk-video {
    position:fixed;
    height: 100%;
    width: 100%;
    display:none;

    z-index:1000000000;

    .streetwalk-video-container {
        height: 100%;
        width: 100%;
    }

    .streetwalk-video-btnclose {
        position:absolute;
        top:10px;
        right:10px;
        width: 50px;
        height: 50px;
        background-image:url("../../images/closebtn.svg");

        cursor:pointer;
    }
}

.streetwalk-chooseway-wrapper {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
}

.streetwalk-textcharacter {
    position: fixed;
    width:0;
    height:0;

    z-index:14;

    .img-container {
        width: 0%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -100%);
        position: absolute;
        z-index:10;

        svg {
            width: 100%;
            height: 100%;
        }
    }

    .character-sign {
        cursor:pointer;
    }

    .character-sign:active {
        opacity: 0.5;
    }

    .mask-character {
        width:200px;
        height:200px;

        transform: translate(-50%, 0%);
        -webkit-transform: translate(-50%, 0%);
        -moz-transform:translate(-50%, 0%);
        -ms-transform:translate(-50%, 0%);
         -o-transform:translate(-50%, 0%);
            transform:translate(-50%, 0%);
    }

    &:active {

        .character-sign {
            opacity: 0.5;
        }
    }
    
}

.streetwalk-chooseway {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform:translate(-50%, -50%);
       -moz-transform:translate(-50%, -50%);
        -ms-transform:translate(-50%, -50%);
         -o-transform:translate(-50%, -50%);
            transform:translate(-50%, -50%);

    svg {
        width: 100%;
    }
}

.streetwalk-tutorial-wrapper {
    position: absolute;
    bottom:0%;
    left:0;
    right: 0;
    top:0;
    z-index:4;

    .streetwalk-tutorial {
        height: 60%;
        width: 100%;
        position:absolute;
        bottom: 10%;
    }

    .streetwalk-tutorial-scrollotherside-tooltip {
        display:none;
        width: 25%;
        margin: 0 auto;

        background-image: url("../../images/2908339CE58A15BD.png");
        background-size: contain;
        background-position: 50% 50%;
        background-repeat:no-repeat;
    }

    svg {
        width: 100%;
        height: 100%;
    }
}

.streetwalk-progress,.streetwalk-area {
    position:fixed;

    z-index:5;

    height: 15%;

    @media screen and (min-width: 1400px) {
            & {
                height: 12%;
            }
    }

    svg {
        height: 100%;
    }
}

.streetwalk-progress {
    top:0px;
    left: 20px;
}
.streetwalk-area {
    top:0px;
    right: 20px;
}


.streetwalk-title {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right: 0;

    text-align: center;

    .logo {
        height: 30%;
        min-width: 320px;
        max-width: 600px;
        max-height: 30%;
    }

    .description {
        color:white;
        width: 100%;
        min-width: 320px;
        max-width: 700px;
        max-height: 30%;

        //Media query
        @media screen and (max-width: 700px) {
            & {
                width: 100%;
            }
            
        }

        @media screen and (min-width : 700px) and (max-width: 1300px) {
            & {
                width: 70%;
            }
        }

        @media screen and (min-width: 1300px) {
            & {
                width: 50%;
            }
        }

        margin:0 auto;

        h2 {
            margin:1em;
            font-size:1.5rem;
            line-height: 1.7rem;
        }

        p {
            font-size:1.5rem;
        }
    }

    .scrolltostart {
        height: 40%;
        position: absolute;
        bottom:0;
        right: 0;
        left:0;

        img,svg {
            height: 100%;
        }
    }

    #scrollToStartLoaded {
        display:none;
    }

}


.streetwalkImg,.element-fixed,.blurImg {
    position: fixed;
    top:0;
    bottom:0;
    right:0;
    left:0;
    width:100%;
    height:100%;
}

.trame-video {
    background: url("../../images/trame-video.png") repeat;
    height: 100%;
    position: fixed;
    width: 100%;
    transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -moz-transition: opacity 0.5s ease;
    opacity: 1;
}

.streetwalk-tutorial-overlay {

    display:none;

    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:50;

    background-color: black;
    opacity: 0.5;

    &.step1 {
        background:-webkit-radial-gradient(55% 60%, circle closest-corner, transparent 0, black 50%);
    }

    &.step2 {
        opacity: 0.4;
        z-index:5;
        // background:-webkit-radial-gradient(80% 76%, circle closest-corner, transparent 0, black 75%);
    }

    &.step3 {
        opacity: 0.4;
        z-index:5;
        // background:-webkit-radial-gradient(90% 92%, circle closest-corner, transparent 0, black 200%);
    }

    -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.streetwalk-sign {
        transform:translateY(-85%);
        -webkit-transition:0.5s ease-out;
        opacity: 0.2;
}

.streetwalk-menubottom {
        transform:translateY(90%);
}

body.not-moving {

    .streetwalk-bottombar {
        -webkit-transition:0.5s ease-out;
        opacity: 1;
        transform:translateY(0%);
    }

    .streetwalk-menubottom {
        transform:translateY(0%);
    }

    .streetwalk-sign {
        transform:translateY(0%);
        -webkit-transition:0.5s ease-out;
        opacity: 1;
    }
}