@import "grids";

#streetwalk-usermanager-wrapper {
    position:fixed;
    height: 100%;
    width: 100%;

    display:none;

    z-index:100;
}

.streetwalk-usermanager {
    width: 50%;
    z-index:40;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding:1em;
}

.streetwalk-login-btnclose {
    position:absolute;
    top:10px;
    right:10px;
    width: 50px;
    height: 50px;
    background-image:url("../../images/closebtn.svg");
    background-color:black;

    cursor:pointer;
}