@import "grids";
@import "compass/css3";

#usermanager {
    position:fixed;
    height: 100%;
    width: 100%;
    z-index:100;
    top:0;
    left:0;
}

.usermanager-content {
    width: 50%;
    z-index:60;

    font-size:1.1rem;

    position: absolute;
    top: 50%;
    left: 50%;
    @include translate(-50%, -50%);

    background-color: #FFD64A;
    border:7px solid #4B2246;
    border-radius:5px;

    padding:1em;

    color:#4b2246;

    h3 {
        margin-top:0;
        margin-bottom:0;
    }

    .align-right {
        text-align: right;
    }

    .modal-createaccount,.modal-signin {

        table {
            width: 100%;

            td {
                width: 50%;
                vertical-align:top;
            }
        }

        input {
            width: 95%;
            height: 2.2rem;
            padding-left: 5px;
        }

        .btn-alignright-wrapper {
            text-align: right;
            margin-right: 1rem;
        }

        .form-error-msgcontainer {
            color:red;
            padding-right:5px;
        }

        .link-discrete {
            color:#4b2246;

            &:active {
                color:#4b2246;
            }
        }

    }

    .modal-share {
        .margin-none {
            margin:0;
        }
    }

    .modal-loading {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: black;
        opacity: 0.4;
    }
    
}

.usermanager-btnclose {
    position:absolute;
    top:10px;
    right:10px;
    width: 30px;
    height: 30px;
    background-image:url("../../images/closeBtnPopup.svg");
    background-repeat: no-repeat;

    cursor:pointer;
}

.usermanager-overlay {
    position:fixed;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:50;
    background-color: black;
    opacity: 0.4;
}