<img id="streetwalkImg" class="streetwalkImg" src="<%= pathFirstStill %>" >
<div class="trame-video"></div>



<div class="streetwalk-title">
    <h1>Scroll to start</h1>
    <p class="arrow-down">↓</p>
</div>

<div class="chooseWay element-fixed">
    <div class="chooseWayContent">
        <a href="#streetwalk/waycentro13/659"><img class="arrow" src="images/arrow-left-outline.svg" ></a>
        <a href="#streetwalk/waycentro12/851"><img class="arrow" src="images/arrow-up-outline.svg" ></a>
    </div>
    <!-- <a href="#streetwalk/intersectionthenroad/460"><img class="arrow" src="images/arrow-up-outline.svg" ></a>
    <a href="#streetwalk/uphill/624"><img class="arrow" src="images/arrow-right-outline.svg" ></a> -->
    
</div>

<div class="element-fixed negra">
    <img src="data/streetwalk/negra/gifnegra.gif">
</div>

<div class="loadingNextWay element-fixed">
    <h1>Loading ... <span class="loadingIndicator">0</span>%</h1>
</div>