@import "var";

* {
    -webkit-user-select: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-touch-callout: none;
    -webkit-box-sizing: border-box;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    -ms-touch-action: none;
    overflow-x: hidden;
    -webkit-text-size-adjust: none;
    color: #2f2f2f;
    font-family: 'FilbertBrush';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing:grayscale;
}

input,
textarea {
    -webkit-user-select: text;
}
img {
    border: none;
}
