html {
  font-family: "FilbertBrush",sans-serif; /* 1 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing:grayscale;
}

button:focus {outline:0;}

p {
    //jsjsj
    font-size:1.2rem;
}