/* line 1, ../sass/base.scss */
html {
  font-family: "FilbertBrush",sans-serif;
  /* 1 */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* line 7, ../sass/base.scss */
button:focus {
  outline: 0;
}

/* line 9, ../sass/base.scss */
.align-center {
  text-align: center;
}
