<fieldset>
        <legend>Sound Properties:</legend>
<p>
    <label for="sound-path">Filename:</label>
    <input type="text" style="width:60%;" name="sound-path" class="sound-path" value="<%= sound.attributes.path %>">
</p>

<p>
    <label for="sound-db">DB Level</label>
    <input type="text" name="sound-db" class="sound-db" value="<%= sound.attributes.db %>">
</p>

<p>
    <label for="sound-maxvol">Max volume (0-100%)</label>
    <input type="text" name="sound-maxvol" class="sound-maxvol" value="<%= sound.attributes.maxvol %>">
</p>

<p><label for="sound-type">Type Sound</label>
    <select name="sound-type" class="sound-type">
      <option value="punctual" <% if(sound.attributes.type == 'punctual') { %>selected<% } %>>punctual</option> 
      <option value="ambient" <% if(sound.attributes.type == 'ambient') { %>selected<% } %>>ambient</option>
    </select>
</p>
<button class="pure-button pure-button-primary streetwalk-soundeditor-btnupdate">Update sound</button>
<button class="pure-button streetwalk-soundeditor-deletesound">Remove sound</a>
</fieldset>


