<style>
    .label {
        margin-top:-55px !important;
        background-color:white;
        width: 20px !important;
        height: 20px !important;
    }
</style>

<div class="streetwalk-soundeditor-map">
    <div class="streetwalk-soundeditor-mapcontainer" id="streetwalk-soundeditor-mapcontainer"></div>
</div>


<div class="streetwalk-soundeditor-panel">
    <form class="pure-form">
    <h1>Way Name : <%= way.wayName %></h1>
    
    <button class="pure-button pure-button-primary streetwalk-soundeditor-addsound">Add New Sound</button>
    
    <div class="streetwalk-soundeditor-panel-soundinfo">
        
    </div>
    
    <fieldset>
        <legend>Export ways.json:</legend>
        <button class="pure-button pure-button-primary streetwalk-soundeditor-export">Export File</button>
        <textarea class="streetwalk-soundeditor-exportarea" cols="30" rows="10"></textarea>
    </fieldset>
    </form>
</div>
<div class="streetwalk-soundeditor-btnclose">
</div>



