<div class="streetwalk-tutorial-wrapper">
    <div class="streetwalk-tutorial-scrollotherside-tooltip">
    </div>
    <div class="streetwalk-tutorial">
    </div>
</div>

<img id="streetwalkImg" class="streetwalkImg" src="<%= pathFirstStill %>" >

<div class="streetwalk-chooseway-end-wrapper streetwalk-chooseway-wrapper">
</div>

<div class="streetwalk-chooseway-start-wrapper streetwalk-chooseway-wrapper">
</div>

<div class="streetwalk-bottombar">
    <div class="streetwalk-map">
        <div id="streetwalk-mapcontainer" class="streetwalk-mapcontainer">
            
        </div>
        <div class="streetwalk-btnmenu-wrapper">
            <button class="streetwalk-btnmenu"><%= STR.streetWalkBtnMenuLabel %></button>
        </div>
    </div>
    <div class="streetwalk-menucharacters">
    </div>
    <div class="streetwalk-bottombar-separator">
        
    </div>
    <div id="streetwalk-control" class="streetwalk-control">
        <div class="toggle-sounds" data-state="<% if(soundsMuted) {%>muted<%} else {%>normal<%}%>"></div>
    </div>
</div>

<div class="streetwalk-menubottom">
</div>

<div class="streetwalk-textcharacter">
    <div class="img-container character-sign">
    </div>
    <div class="mask-character character-sign">
    </div>
</div>

<div class="streetwalk-area streetwalk-sign">
</div>

<div class="streetwalk-progress streetwalk-sign">
</div>

<div class="streetwalk-loading">
</div>

<div class="streetwalk-video">
    <div class="streetwalk-video-container">
    </div>
    <div class="streetwalk-video-btnclose">
    </div>
</div>

<!-- <button class="streetwalk-soundeditor-btnshow">Show sound editor</button> -->

<div id="streetwalk-soundeditor">
</div>

<div class="streetwalk-tutorial-overlay">
</div>
