<div class="streetwalk-tutorial-wrapper">
    <div class="streetwalk-tutorial-scrollotherside-tooltip">
        <p>Para avanzar dezfila hacia el otro lado</p>
    </div>
    <div class="streetwalk-tutorial">
    </div>
</div>

<img id="streetwalkImg" class="streetwalkImg" src="<%= pathFirstStill %>" >
<!-- <div class="trame-video"></div> -->

<div id="streetwalk-control" class="streetwalk-control">
    <div class="toggle-sounds" data-state="normal"></div>
    <img src="images/mutesound.svg" style="display:none" alt="" />
</div>

<div class="streetwalk-chooseway-end-wrapper streetwalk-chooseway-wrapper">
</div>

<div class="streetwalk-chooseway-start-wrapper streetwalk-chooseway-wrapper">
</div>

<div class="streetwalk-bottombar">
    <div class="streetwalk-map">
        <div id="streetwalk-mapcontainer" class="streetwalk-mapcontainer">
            
        </div>
    </div>
    <div id="streetwalk-menucharacters" class="streetwalk-menucharacters">
    </div>
    <div class="streetwalk-bottombar-separator">
        
    </div>
</div>

<div class="streetwalk-textcharacter">
    <div class="img-container">
    </div>
</div>

<div class="streetwalk-area streetwalk-sign">
</div>

<div class="streetwalk-progress streetwalk-sign">
</div>

<div class="streetwalk-loading">
</div>

<div class="streetwalk-video">
    <div class="streetwalk-video-container">
    </div>
    <div class="streetwalk-video-btnclose">
    </div>
</div>

<button class="streetwalk-soundeditor-btnshow">Show sound editor</button>

<div id="streetwalk-soundeditor">
   
</div>

<div id="streetwalk-login-wrapper">
   <div class="streetwalk-login">
       
   </div>
</div>
