<img id="streetwalkImg" class="streetwalkImg" src="<%= pathFirstStill %>" >
<div class="trame-video"></div>

<div id="streetwalk-control" class="streetwalk-control">
    <div class="toggle-sounds" data-state="normal"></div>
    <img src="images/mutesound.svg" style="display:none" alt="" />
</div>

<div class="streetwalk-chooseway-end-wrapper streetwalk-chooseway-wrapper">
</div>

<div class="streetwalk-chooseway-start-wrapper streetwalk-chooseway-wrapper">
</div>

<div class="streetwalk-bottombar">
    <div id="streetwalk-map" class="streetwalk-map">
        
    </div>
    <div class="streetwalk-heads">
        <div class="streetwalk-head streetwalk-head-jale">
            <object class="streetwalk-head-jale1" data="images/heads/jale-ghost-green.svg"></object>
        </div>
        <div class="streetwalk-head streetwalk-head-jale">
            <object class="streetwalk-head-jale2" data="images/heads/jale-ghost-yellow.svg"></object>
        </div>
        <div class="streetwalk-head streetwalk-head-jale">
            <object class="streetwalk-head-jale3" data="images/heads/jale-ghost-green.svg"></object>
        </div>
        <div class="streetwalk-head streetwalk-head-jale">
            <object class="streetwalk-head-jale4" data="images/heads/jale-ghost-yellow.svg"></object>
        </div>
        <div class="streetwalk-head streetwalk-head-jale">
            <object class="streetwalk-head-jale5" data="images/heads/jale-ghost-green.svg"></object>
        </div>
    </div>
    <div class="streetwalk-bottombar-separator">
        
    </div>
</div>




<div class="streetwalk-textcharacter">
    <div class="img-container">
        <img class="frame-character" src="images/jaleaparition.svg" alt="">
    </div>
</div>

<div class="streetwalk-video">
    <div class="streetwalk-video-container">
    </div>
    <div class="streetwalk-video-btnclose">
    </div>
</div>