@import "var";
@import "compass";
@import "grids";

html,body {
    @include container;
    height: 100%;
    width: 100%;
}

.page {
    @include container;
    height: 100%;
    width: 100%;
    display: none;
}

.index {
    position:relative;
}