@import "var";
@import "grids";

html,body {
    @include container;
    height: 100%;
    width: 100%;
}

.page {
    @include container;
    height: 100%;
    width: 100%;
    display: none;
}

.index {
    position:relative;
}

@media (max-width: 1000px) {

    .page {
        display:none !important;

        &.mobile {
            display:block !important;
        }
    }

}