<form class="signup-form">
  <h2>Crear una cuenta</h2>
  
  <button class="signup-facebook">SIGNUP WITH FACEBOOK</button>
  
  
  <div class="error" style="display:none"></div>
  <p><input type="text" class="signup-name" placeholder="Name" required /></p>
  <p><input type="text" class="signup-email" placeholder="Email" required /></p>
  <p><input type="password" class="signup-password" placeholder="Password" /></p>
  <p><input type="password" class="signup-password-confirm" placeholder="Confirm Password" /></p>
  <button>Crear</button>
</form>

<div class="usermanager-btnclose">
</div>
